@use '../../config' as *;
@use 'sass:color';

// Handled by C++
.leaderboard-time {
	&--even {
		background-color: rgba(0, 0, 0, 0.4);
	}

	&--odd {
		background-color: rgba(0, 0, 0, 0.4);
	}

	&--even,
	&--odd {
		transition: background-color 0.1s linear 0s;
		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.leaderboard-entry {
	flow-children: right;
	width: 100%;
	height: 35px; // Must be same as the DelayLoadList itemheight!
	padding: 0 8px;
	border-bottom: 1px solid rgba(44, 44, 44, 0.4);

	&--localplayer {
		background-color: color.scale(rgba($blue, 0.7), $lightness: -20%);

		&:hover {
			background-color: rgba($blue, 0.7);
		}
	}

	&__item {
		font-size: 14px;
		vertical-align: center;
		color: rgba(255, 255, 255, 0.7);
	}

	&__spacer {
		width: fill-parent-flow(0);
	}

	&__rank {
		width: fill-parent-flow(0.1);
		text-align: right;
		padding-right: 8px;
	}

	&__player {
		width: fill-parent-flow(1);
		flow-children: right;
		height: 100%;
	}

	&__time {
		width: fill-parent-flow(0.25);
		text-align: right;
		color: rgba(255, 255, 255, 0.7);
	}

	&__avatar {
		height: 100%;
		width: height-percentage(100%);
		padding: 4px;
		margin-right: 6px;
	}

	&__name {
		width: fill-parent-flow(1);
	}
}
