@use '../../config' as *;
@use 'sass:color';

// Handled by C++
.leaderboard-time {
	&--even {
		background-color: rgba(255, 255, 255, 0.03);
	}

	&--odd {
		background-color: rgba(255, 255, 255, 0.01);
	}

	&--even,
	&--odd {
		transition: background-color 0.1s linear 0s;
		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.leaderboard-entry {
	flow-children: right;
	width: 100%;
	height: 30px; // Must be same as the DelayLoadList itemheight!
	padding: 0 8px;

	&--localplayer {
		background-color: color.scale(rgba($blue, 0.7), $lightness: -20%);

		&:hover {
			background-color: rgba($blue, 0.7);
		}
	}

	&__item {
		font-size: 16px;
		vertical-align: center;
	}

	&__rank {
		width: fill-parent-flow(0.1);
	}

	&__player {
		width: fill-parent-flow(0.45);
		flow-children: right;
		height: 100%;
	}

	&__time {
		width: fill-parent-flow(0.25);
	}

	&__achieved {
		text-align: right;
		width: fill-parent-flow(0.2);
	}

	&__avatar {
		height: 100%;
		width: height-percentage(100%);
		padding: 4px;
		margin-right: 6px;
	}

	&__name {
		width: fill-parent-flow(1);
	}
}
