#Contents
{
    background-color: rgba(0, 0, 0, 0.99);
    padding: 16px;
}
                                                                                                                                                         
                                
.TooltipContainer
{
    /* This container aligns to the left slightly weird, nudge it to the right for now. */
    margin-left: 1px;
    opacity: 0.0;
    transition-property: opacity, pre-transform-scale2d;
    transition-duration: 0.175s, 0.25s;
}

.TooltipContainer.TooltipVisible
{
    opacity: 1.0;
    transition-delay: 0.0s;
}

#jsItemTooltip.TooltipContainer,
.delayed-tooltip.TooltipContainer,
{
    transition-property: opacity, pre-transform-scale2d;
    transition-duration: 0.1s, 0.1s;
    transition-delay: 0.4s;
}

#jsItemTooltip.TooltipContainer.TooltipVisible,
.delayed-tooltip.TooltipContainer.TooltipVisible,
{
    opacity: 1.0;
    transition-duration: 0s, 0s;
    transition-delay: 0.0s;
}

.TooltipRow
{
    flow-children: right;
}
