@use '../config' as *;

.spin-clockwise {
	animation-name: SpinClockwise;
	animation-duration: 0.8s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes SpinClockwise {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(90deg);
	}
	50% {
		transform: rotateZ(180deg);
	}
	75% {
		transform: rotateZ(270deg);
	}
}

.blur-fade-in {
	animation-name: BlurFadeIn;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;

	-s2-mix-blend-mode: opaque;

	blur: fastgaussian(4, 4, 4);
}

@keyframes BlurFadeIn {
	0% {
		blur: fastanimgaussian(0, 0, 0);
	}
	100% {
		blur: fastgaussian(4, 4, 4);
	}
}

@keyframes PulseBackgroundBlue {
	0% {
		background-color: rgba($blue, 0.3);
	}

	50% {
		background-color: rgba($blue, 0.8);
	}

	100% {
		background-color: rgba($blue, 0.3);
	}
}

@keyframes BlurFadeInOut {
	0% {
		blur: gaussian(0, 0, 0);
	}

	50% {
		blur: gaussian(4, 0.5, 3);
	}

	100% {
		blur: gaussian(0, 0, 0);
	}
}

@keyframes AnimOutLeft {
	0% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		transform: translateX(-300px);
		opacity: 0;
	}
}

@keyframes AnimOutRight {
	0% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		transform: translateX(300px);
		opacity: 0;
	}
}

@keyframes AnimInLeft {
	0% {
		transform: translateX(-300px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes AnimInRight {
	0% {
		transform: translateX(300px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

// TODO: Once sass file loading is better move this to pages/settings.scss

@keyframes SettingsGroupHighlight {
	0% {
		// This is silly, we're just using a box-shadow as a kind of highlight as
		// background-color would require us animate back to the correct background,
		// which varies between different panels that use this
		box-shadow: fill 0 0 0 0 rgba(255, 255, 255, 0.1);
	}

	100% {
		box-shadow: fill 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
