@use '../config' as *;

a:hover {
	text-decoration: underline;
}

b {
	font-weight: bold;
}

i {
	font-style: italics;
}

strong {
	font-weight: bold;
}

em {
	font-style: italics;
}

pre {
	font-family: $font-monospace;
}
