@use '../config' as *;
@use '../abstract/mixin';
@use 'sass:map';

.text {
	@include mixin.font-regular();
}

.text-h {
	@include mixin.font-header();
	font-weight: bold;
}

@each $name, $size in $font-header-sizes {
	.text-#{$name} {
		@include mixin.font-header();
		font-weight: bold;
		font-size: $size;
	}

	.text-light-#{$name} {
		@include mixin.font-header();
		font-size: $size;
	}
}

@each $name, $size in $font-sizes {
	.text-#{$name} {
		font-size: $size;
	}
}

@each $weight in $font-weights {
	.text-#{$weight} {
		font-weight: $weight;
	}
}

@each $name, $strength in $font-shadows {
	.text-shadow-#{$name} {
		text-shadow: $strength;
	}
}

.text-italic {
	font-style: italic;
}

.text-monospace {
	font-family: $font-monospace;
}

@each $name in (uppercase, lowercase, none) {
	.text-transform-#{$name} {
		text-transform: $name;
	}
}
