@use '../config' as *;
@use 'sass:list';
@use 'sass:string';

// ================
// WIDTH / HEIGHT
// ================

.full {
	width: 100%;
	height: 100%;
}

.w-full {
	width: 100%;
}

.w-half {
	width: 50%;
}

.h-full {
	height: 100%;
}

.w-fill {
	width: fill-parent-flow(1);
}

.h-fill {
	height: fill-parent-flow(1);
}

.h-fit-children {
	height: fit-children;
}

.w-fit-children {
	width: fit-children;
}

@each $name,
	$width
		in (
			'200': 200px,
			'250': 250px,
			'300': 300px,
			'350': 350px,
			'400': 400px,
			'600': 600px,
			'800': 800px,
			'1000': 1000px
		)
{
	.max-w-#{$name} {
		max-width: $width;
	}

	.min-w-#{$name} {
		min-width: $width;
	}

	.w-#{$name} {
		width: $width;
	}
}

// ================
// MARGINS / PADDING
// ================

$s: list.join((0px), $spacers);
@each $spacer in $s {
	$index: list.index($s, $spacer) - 1;

	.m-#{$index} {
		margin: $spacer;
	}

	.mx-#{$index} {
		margin-left: $spacer;
		margin-right: $spacer;
	}

	.my-#{$index} {
		margin-top: $spacer;
		margin-bottom: $spacer;
	}

	.mt-#{$index} {
		margin-top: $spacer;
	}

	.mb-#{$index} {
		margin-bottom: $spacer;
	}

	.mr-#{$index} {
		margin-right: $spacer;
	}

	.ml-#{$index} {
		margin-left: $spacer;
	}

	.p-#{$index} {
		padding: $spacer;
	}

	.px-#{$index} {
		padding-left: $spacer;
		padding-right: $spacer;
	}

	.py-#{$index} {
		padding-top: $spacer;
		padding-bottom: $spacer;
	}

	.pt-#{$index} {
		padding-top: $spacer;
	}

	.pb-#{$index} {
		padding-bottom: $spacer;
	}

	.pr-#{$index} {
		padding-right: $spacer;
	}

	.pl-#{$index} {
		padding-left: $spacer;
	}
}

// ================
// ALIGNMENT
// ================

.h-align-center {
	horizontal-align: center;
}

.h-align-right {
	horizontal-align: right;
}

.h-align-left {
	horizontal-align: left;
}

.v-align-center {
	vertical-align: middle;
}

.v-align-top {
	vertical-align: top;
}

.v-align-bottom {
	vertical-align: bottom;
}

.text-align-left {
	text-align: left;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

// ================
// OVERFLOW
// ================

.overflow-noclip {
	overflow: noclip;
}

.overflow-vscroll {
	overflow: squish scroll;
}

// ================
// FLOW
// ================

.flow-right {
	flow-children: right;
}

.flow-right-wrap {
	flow-children: right-wrap;
}

.flow-left {
	flow-children: left;
}

.flow-down {
	flow-children: down;
}

.flow-up {
	flow-children: up;
}

.no-flow {
	flow-children: none;
}

// ================
// VISIBILITY
// ================

.hide {
	visibility: collapse;
}

.show {
	visibility: visible;
}

.transparent {
	opacity: 0;
}

.opaque {
	opacity: 1;
}

// ================
// TRANSFORMS
// ================

@each $rotation in (45, 90, 135, 180, 225, 270, 315) {
	.rot-#{$rotation} {
		transform: rotateZ(string.unquote($rotation + 'deg'));
	}
}

// ================
// DEBUG
// ================

.debug-border {
	border: 1px solid rgba(0, 255, 0, 1);
}

.debug-background {
	background-color: rgba(255, 0, 255, 0.5);
}
