@use '../../config' as *;
@use '../../abstract/mixin';
@use 'sass:map';
@use 'sass:color';

.about {
	flow-children: down;

	&__header {
		width: 100%;
		flow-children: down;
		padding-top: 36px;
		padding-bottom: 16px;
	}

	&__logo-container {
		flow-children: right;
		horizontal-align: center;
		margin-bottom: 24px;
	}

	&__logo {
	}

	&__version {
		@include mixin.font-header();
		font-weight: bold;
		vertical-align: bottom;
		font-size: 24px;
		margin-left: 8px;
	}

	&__description {
		padding: 0 24px;
		font-size: 14px;
	}

	&__main {
		width: 100%;
		flow-children: down;
		margin: 0 24px 24px 24px;
	}

	&__section-container {
		width: 100%;
		height: fill-parent-flow(1);
		border: 1px solid rgba(0, 0, 0, 0.5);
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__section {
		flow-children: down;
		horizontal-align: center;
		overflow: squish scroll;
		padding: 16px 4px;
	}
}

.about-credits {
	&__row {
		flow-children: right;
		margin-bottom: 16px;
	}

	&__col {
		flow-children: down;
		width: fill-parent-flow(1);
	}

	&__header {
		@include mixin.font-header();
		font-weight: bold;
		font-size: 42px;
		horizontal-align: center;
		margin-bottom: 4px;
		margin-top: 12px;
	}

	&__subheader {
		font-size: 24px;
		@include mixin.font-header();
		horizontal-align: center;
		margin-bottom: 4px;
		margin-top: 4px;
	}

	&__name {
		@include mixin.font-header();
		font-weight: bold;
		font-size: 28px;
		padding: 0 2px;
		text-align: center;
		overflow: squish;
		text-overflow: shrink;
		vertical-align: center;
		text-shadow: 0 1px 3px rgba(0, 0, 0, 1);
		transition: color 0.1s ease-in-out 0s;
		tooltip-position: bottom;

		&--project-lead {
			font-size: 36px;
			color: map.get($roles, 'lead');

			&:hover {
				color: color.scale(map.get($roles, 'lead'), $lightness: 50%);
			}
		}

		&--dept-head {
			font-size: 32px;
			color: map.get($roles, 'dept-head');

			&:hover {
				color: color.scale(map.get($roles, 'dept-head'), $lightness: 50%);
			}
		}

		&--team {
			font-size: 30px;
			color: map.get($roles, 'team');

			&:hover {
				color: color.scale(map.get($roles, 'team'), $lightness: 50%);
			}
		}

		&--emeritus {
			font-size: 28px;
			color: map.get($roles, 'emeritus');

			&:hover {
				color: color.scale(map.get($roles, 'emeritus'), $lightness: 50%);
			}
		}
	}
}
