@use '../../config' as *;
@use '../../abstract/mixin';

.lobby {
	&__lobby-list,
	&__lobby-details {
		width: 100%;
		height: 100%;
		flow-children: down;
		opacity: 1;
		transition-property: opacity, transform, blur;
		transition-duration: 0.1s;
		transition-timing-function: ease-out;

		&--hidden {
			opacity: 0;
			transition-duration: 0.15s;
			transition-timing-function: ease-in;
		}
	}

	&__lobby-list {
		&--hidden {
			transform: translateX(-200px);
		}
	}
	&__lobby-details {
		&--hidden {
			transform: translateX(200px);
		}
	}
}

.lobby-list {
	&__header {
		flow-children: down;
		padding: 24px 24px 20px 24px;
		tooltip-body-position: 50% 50%;
		tooltip-position: bottom;
	}

	&__title-bar {
		flow-children: right;
		margin-top: -4px;
	}

	&__title-icon {
		height: 72px;
		width: height-percentage(100%);
		margin-right: 16px;
		img-shadow: $font-header-shadow;
	}

	&__title {
		font-size: 52px;
		vertical-align: center;
	}

	&__config-bar {
		flow-children: right;
	}

	&__config-item {
		margin-right: 6px;
	}

	&__search {
		width: fill-parent-flow(1);
		height: 34px;
		margin-right: 8px;
	}

	&__hidebox {
		height: 34px;
	}

	&__separator {
		margin: 16px 24px;
	}

	&__lobby-list {
		flow-children: down;
		width: 100%;
		overflow: squish scroll;
	}
}

.lobby-details {
	&__header {
		flow-children: right;
		width: 100%;
		padding: 24px 24px 20px 24px;
	}
	&__header-item {
		margin-right: 6px;
		vertical-align: middle;
	}

	&__title {
		width: fill-parent-flow(1);
		margin: 0 16px;
		font-size: 40px;
		max-height: 48px;
		overflow: squish clip;
		text-overflow: shrink;
	}

	&__type {
		horizontal-align: right;
		vertical-align: center;
		height: 40px;
		width: height-percentage(100%);
		margin-right: 8px;
	}

	&__rightcontainer {
		flow-children: right;
		horizontal-align: right;
		vertical-align: center;
		width: fit-children;
	}

	&__playercount {
		vertical-align: center;
		font-size: 36px;
	}

	&__lobby-members {
		flow-children: down;
		width: 100%;
		height: fill-parent-flow(1);
		overflow: squish scroll;
	}

	&__chat {
		margin: 4px 4px 0 4px;
		height: 360px;
		vertical-align: bottom;
	}
}

.lobby-lobbies,
.lobby-members {
	$root: &;
	&__entry {
		width: 100%;
		flow-children: right;
		margin: 4px 0;
		padding: 8px 24px;
		background-color: gradient(linear, 0% 50%, 100% 50%, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0)));
		transition: background-color 0.1s linear 0s;

		&:hover {
			background-color: gradient(linear, 0% 50%, 100% 50%, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
		}

		&--muted {
			opacity: 0.5;
		}
	}

	&__avatar {
		horizontal-align: left;
		height: 40px;
		width: 40px;
		box-shadow: -1px -1px 4px 3px rgba(0, 0, 0, 0.5);
		transition-property: brightness, box-shadow, blur;
		transition-duration: 0.1s;
		transition-timing-function: ease-in-out;

		&:hover {
			brightness: 1.1;
			box-shadow: -1px -1px 4px 3px rgba(0, 0, 0, 1);
		}

		#{$root}__entry--muted & {
			blur: fastgaussian(3, 3, 3);
			brightness: 0.5;
		}
	}

	&__text {
		vertical-align: center;
		margin-left: 8px;
		margin-right: 8px;
	}
}

.lobby-lobbies {
	&__entry {
		padding-left: 20px;
		margin: 0;
	}

	&__wrapper {
		flow-children: right;
		width: 100%;
		margin: 4px 0;
	}

	&__origin {
		width: 2px;
		height: 100%;
		opacity: 0.5;
		border-right: 1px solid rgba(0, 0, 0, 0.5);

		&--current {
			@include mixin.gradient-themed($color: 'green', $direction: 'down');
		}
		&--friends {
			@include mixin.gradient-themed($color: 'blue', $direction: 'down');
		}
		&--global {
			background-color: rgba(0, 0, 0, 0);
		}
	}

	&__title {
		width: fill-parent-flow(1);
		horizontal-align: left;
	}

	&__type {
		horizontal-align: left;
		vertical-align: center;
		width: 32px;
		height: 32px;
		padding: 4px;
		margin-left: 20px;
		margin-right: 12px;
		tooltip-position: bottom;
	}

	&__players {
		width: fill-parent-flow(0.2);
		horizontal-align: center;
		text-align: center;
		font-size: $button-font-size;
	}

	&__button-container {
		width: fill-parent-flow(0.25);
		vertical-align: center;
		margin-left: 8px;
		margin-right: 8px;
	}

	&__button {
		horizontal-align: center;
	}
}

.lobby-members {
	$text-font-size: 18px;
	$root: &;

	&__name {
		width: fill-parent-flow(1);
		horizontal-align: left;
		vertical-align: center;
		margin-left: 16px;
		font-size: $text-font-size;
		max-height: $text-font-size + 8px;
		transition-property: color, opacity;
		transition-timing-function: ease-in-out;
		transition-duration: 0.1s;

		#{$root}__entry--muted & {
			opacity: 0.5;
		}
	}

	&__map-container {
		width: fill-parent-flow(1);
		vertical-align: center;
		// text-align: left;
	}

	&__map {
		// text-align: left;
		overflow: clip clip;
	}

	&__state {
		height: $text-font-size;
		width: height-percentage(100%);
		vertical-align: center;
		horizontal-align: center;
		margin-right: 8px;
		tooltip-position: bottom;
	}

	&__button-container {
		width: fill-parent-flow(0.4);
		vertical-align: center;
		margin-left: 8px;
		margin-right: 8px;
	}
}
