.sample-block {
	min-width: 32px;
	min-height: 32px;
}

#ControlsLibraryPanel {
	transition: transform 1s ease-in-out 0s;
}

.very-useful-class {
	transition: transform 1s linear 0s;
	transform: rotateX(0deg) rotateZ(10deg) rotateY(2deg) scale3d(0.99, -0.9, 1) translateZ(20px);
}

.more-useful-class {
	transition: transform 1s linear 0s;

	saturation: 2;
	brightness: 2;
	contrast: 2;
}
