IntroMovie {
	width: 100%;
	height: 100%;
}

#IntroMoviePlayer {
	width: 1920px;
	height: 1080px;
	overflow: noclip;
	horizontal-align: center;

	& .AspectRatio21x9 {
		width: 2520px;
		height: 1080px;
		transform: scaleY(1.3);
		overflow: noclip;
	}
}
