@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';

$page-transition-duration: 0.15s;
$page-transition-timing-func: ease-in-out;

#TooltipManager,
#ContextMenuManager,
#PopupManager,
.MainMenuRootPanel {
	width: 100%;
	height: 100%;
}

.MainMenuRootPanel.PopupBackgroundBlur #MainMenuInput {
	blur: gaussian(8, 8, 5);
	-s2-mix-blend-mode: opaque;
}

.MainMenuModeOnly {
	visibility: visible;
}

.MainMenuRootPanel--PauseMenuMode .MainMenuModeOnly {
	visibility: collapse;
}

.PauseMenuModeOnly {
	visibility: collapse;
}

.MainMenuRootPanel--PauseMenuMode .PauseMenuModeOnly {
	visibility: visible;
}

$topnav-height: 100px;
$rightnav-width: 50px;
$drawer-width: 768px;

.mainmenu {
	width: 100%;
	height: 100%;

	&__container {
		width: 1920px;
		height: 1080px;
	}

	&__background {
		width: 100%;
		height: 100%;
	}

	&__background-blur {
		width: 100%;
		height: 100%;
		blur: fastgaussian(2, 2, 4);
	}

	&__content-blur {
		// Let this panel clip outside the page so the blur applies all the way to the edges
		// mainmenu__container will constrain all children to 1920x1080
		width: 110%;
		height: 110%;
		overflow: noclip;
		blur: fastgaussian(8, 8, 5);
	}

	&__pause-blur {
		width: 100%;
		height: 100%;
		blur: fastgaussian(1, 1, 2);
	}

	&__movie {
		width: 1920px;
		height: 1080px;
		overflow: noclip;

		.AspectRatio4x3,
		.AspectRatio5x4 {
			transform: translateX(-17%);
			overflow: noclip;
		}

		.AspectRatio16x10 {
			transform: translateX(-10%);
			overflow: noclip;
		}

		.AspectRatio21x9 {
			width: 2580px;
			height: 1080px;
			transform: scaleY(1.3) translateY(-15%);
			overflow: noclip;
		}
	}

	&__content {
		width: fill-parent-flow(1);
		height: fill-parent-flow(1);
		margin-top: $topnav-height;
		margin-right: $rightnav-width;
	}

	&__home-container,
	&__page-container {
		width: 100%;
		height: 100%;
		opacity: 1;
		transition-property: opacity;
		transition-duration: $page-transition-duration;
		transition-timing-function: $page-transition-timing-func;

		&--hidden {
			opacity: 0;
		}
	}

	// BaseBlurTarget needs a translucent background to draw on/over/behind/whatever for some reason
	&__pause-content-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.005);
	}

	&__page-blur {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.875);
	}

	&__page {
		flow-children: down;
		width: 100%;
		height: 100%;
		padding: 30px;

		transition-property: opacity;
		transition-duration: 0s;
		transition-timing-function: ease-in-out;
	}
}

.topnav {
	flow-children: right;
	height: $topnav-height;
	width: 100%;
	background-color: function.gradient-vertical(rgba(51, 51, 51, 0.3), rgba(20, 20, 20, 0.3));
	z-index: 1;

	&__home {
		height: 100%;
		background-color: rgba(255, 255, 255, 0);
		transition: background-color 0.2s ease-in-out 0s;
		transition-property: opacity, background-color;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;

		&:hover {
			background-color: function.gradient-radial-button(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
		}

		.RadioBox {
			visibility: collapse;
		}
	}

	&__logo {
		margin: 0 24px;
		vertical-align: middle;
	}

	&__button {
		height: 100%;
		vertical-align: middle;
		padding: 24px;
		background-color: function.gradient-radial-button(rgba(128, 128, 128, 0), rgba(128, 128, 128, 0));
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);

		transition-property: background-color, box-shadow;
		transition-duration: 0.1s;
		transition-timing-function: ease-out;

		& .RadioBox {
			visibility: collapse;
		}

		$this: &;
		&:hover {
			background-color: function.gradient-radial-button(rgba(255, 255, 255, 0.25), rgba(209, 209, 209, 0.25));
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.35);

			&:disabled {
				background-color: function.gradient-radial-button(rgba(75, 75, 75, 0.25), rgba(83, 83, 83, 0.21));
			}

			#{$this}__icon {
				opacity: 1;
			}
		}

		&:selected {
			background-color: function.gradient-radial-button(rgba(88, 88, 88, 0.7), rgba(20, 20, 20, 0.7));
			box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

			#{$this}__icon {
				opacity: 1;
			}
		}

		&:selected:hover {
			background-color: function.gradient-radial-button(rgba(70, 70, 70, 0.8), rgba(20, 20, 20, 0.8));
		}
	}

	&__icon {
		width: height-percentage(100%);
		height: 100%;
		vertical-align: middle;
		color: white;
		opacity: 0.85;
		img-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.4);
		transition-property: opacity;
		transition-duration: 0.1s;
		transition-timing-function: ease-in;
	}

	&__home,
	&__button {
		&:hover {
			sound: 'UIPanorama.ButtonRollover';
		}
		&:selected {
			sound: 'UIPanorama.ButtonPress';
		}
	}

	&__shadow {
		z-index: 1;
		margin-top: $topnav-height;
		width: 100%;
		height: 24px;
		opacity: 0.8;
		border-top: 1px solid rgba(0, 0, 0, 0.5);
		background-color: gradient(
			linear,
			0% 100%,
			0% 0%,
			from(rgba(0, 0, 0, 0)),
			color-stop(0.5, rgba(0, 0, 0, 0.275)),
			to(rgba(0, 0, 0, 0.8))
		);
	}
}

.rightnav {
	$root: &;
	width: $rightnav-width;
	height: 100%;
	horizontal-align: right;
	background-color: rgba(0, 0, 0, 0.5);

	// Wrapper class needed because borders around parent can crash randomly ¯\_(ツ)_/¯
	&__wrapper {
		flow-children: down;
		width: 100%;
		height: 100%;
		border-right: 1px solid rgba(0, 0, 0, 0.6);
		border-left: 1px solid rgba(0, 0, 0, 0.4);
	}

	&__button {
		$button: &;
		width: 100%;
		height: width-percentage(100%);
		padding: 4px;
		background-color: rgba(255, 255, 255, 0);
		border: 1px solid rgba(0, 0, 0, 0);

		transition-property: background-color, border;
		transition-duration: 0.1s;
		transition-timing-function: ease-in-out;

		&:hover {
			background-color: function.gradient-radial-button(rgba(255, 255, 255, 0.15), rgba(179, 179, 179, 0.15));
			border-top: 1px solid rgba(255, 255, 255, 0.02);
			border-bottom: 1px solid rgba(255, 255, 255, 0.02);
			#{$root}__icon {
				opacity: 1;
			}
		}

		&:selected {
			background-color: function.gradient-radial-button(rgba(77, 77, 77, 0.4), rgba(0, 0, 0, 0.4));
			border-top: 1px solid rgba(0, 0, 0, 0.3);
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);

			#{$root}__icon {
				opacity: 1;
			}

			&:hover {
				background-color: function.gradient-radial-button(rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0.5));
				border-top: 1px solid rgba(0, 0, 0, 0.35);
				border-bottom: 1px solid rgba(0, 0, 0, 0.35);
			}
		}
	}

	&__icon {
		width: 100%;
		height: width-percentage(100%);
		vertical-align: middle;
		padding: 7px;
		img-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.8);

		opacity: 0.75;
		transition: opacity 0.1s ease-in-out 0s;
	}

	&__button-subtitle {
		@include mixin.font-styles($use-header: true, $light-header: true);
		background-color: function.gradient-vertical($mid-blue, $blue);
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.35);

		margin-right: 2px;
		$size: 18px;
		width: $size;
		height: $size;

		align: right bottom;
		text-align: center;

		overflow: squish;
		text-overflow: shrink;

		color: rgb(255, 255, 255);
		font-size: $size;
		letter-spacing: 0px;

		opacity: 1;
		transition-property: opacity, transform;
		transition-duration: 0.15s;
		transition-timing-function: ease-out;

		&--hidden {
			opacity: 0;
			transform: translateX(10px);
		}
	}

	&__drawerbutton {
		height: 100%;
	}

	&__shadow {
		z-index: 1;
		width: 24px;
		height: 100%;
		border-right: 1px solid rgba(0, 0, 0, 0.12);
		opacity: 0.8;
		background-color: gradient(
			linear,
			0% 0%,
			100% 0%,
			from(rgba(0, 0, 0, 0)),
			color-stop(0.5, rgba(0, 0, 0, 0.275)),
			to(rgba(0, 0, 0, 0.7))
		);
		transition: border-right 0.35s ease-out 0s;
	}
}

.drawer {
	z-index: 1;
	flow-children: right;
	horizontal-align: right;
	height: 100%;
	margin-top: $topnav-height;

	transform: translateX($drawer-width);
	transition: transform 0.35s $easeOutQuart 0s;

	$this: &;
	&--expanded {
		transform: translateX(0);

		#{$this}__rightnav {
			background-color: rgba(32, 32, 32, 0.8);
		}

		#{$this}__left-shadow {
			border-right: 1px solid rgba(0, 0, 0, 0.2);
			background-color: gradient(
				linear,
				0% 0%,
				100% 0%,
				from(rgba(0, 0, 0, 0)),
				color-stop(0.5, rgba(0, 0, 0, 0.275)),
				to(rgba(0, 0, 0, 0.8))
			);
		}

		.rightnav__drawerbutton {
			transform: rotateX(180deg) rotateZ(180deg);
		}
	}

	&__content {
		width: $drawer-width;
		height: 100%;
		background-color: rgba(27, 27, 27, 0.7);
	}

	&__wrapper {
		width: 100%;
		height: 100%;
		border-left: 1px solid rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
	}

	&__tab {
		width: 100%;
		height: 100%;
		// margin-right: 6px;

		opacity: 0;
		transform: translateX(-100px);

		transition-property: opacity, transform;
		transition-duration: 0.1s;
		transition-timing-function: ease-out;

		&--active {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}

.home {
	&__newspanel {
		margin: 24px;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&__modelpanel {
		width: 700px;
		height: 100%;
		margin-right: 200px;
		horizontal-align: right;
		vertical-align: middle;

		opacity: 1;
		blur: gaussian(0, 0, 0);
		transition-property: opacity, blur, pre-transform-scale2d, transform;
		transition-duration: 0.15s;
		transition-timing-function: ease-in-out;

		&--hidden {
			opacity: 0;
			transform: translateY(300px);
			blur: gaussian(10, 10, 4);
			pre-transform-scale2d: 0.8;
			transition-delay: 0.1s;
			transition-duration: 0.25s;
		}
	}

	&__bottombar {
		flow-children: right;
		horizontal-align: left;
		vertical-align: bottom;
	}

	&--hidden {
		visibility: collapse;
	}
}

.news {
	$root: &;
	&--minimized {
		#{$root}__main {
			height: 0px;
		}
	}

	&__wrapper {
		flow-children: down;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
		border: 1px solid rgba(0, 0, 0, 0.4);
	}

	&__header {
		width: 100%;
		height: 31px;
		background-color: rgba(0, 0, 0, 0.4);
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		padding: 2px 4px 1px 8px;
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 24px;
	}

	&__minimize {
		width: 100%;
		horizontal-align: right;
		height: 100%;
		color: white;

		opacity: 0.5;
		transition: opacity 0.1s ease-in-out 0s;

		&:hover {
			opacity: 1;
		}
	}

	&__main {
		// We would use fit-children here but we need a specific height for the anim to interpolate.
		// Just try on fit-children and grab whatever height the panel is from the debugger.
		height: 410px;
		flow-children: down;

		// Clip the children as we decrease the height
		overflow: noclip;
		clip: rect(0%, 100%, 100%, 0%);

		transition: height 0.15s ease-in-out 0s;
	}

	&__latest {
		padding: 8px;
		flow-children: right;
	}

	&__other {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		border-top: 1px solid rgba(0, 0, 0, 0.15);
	}

	&__horiz-scroll {
		flow-children: right;
		width: 100%;
		overflow: scroll squish;
		margin: 8px;
		padding-bottom: 16px;
	}

	&__other-item {
		width: 200px;
		height: 200px * 0.5625; // 0.5625 = 1/(16/9). Height needs to be a static value for the animation to interpolate it properly
		margin-right: 8px;
	}

	&__other-image {
		transition: wash-color 0.1s linear 0s;

		&:hover {
			wash-color: rgb(222, 222, 222);
		}
	}
}

.news-latest {
	&__left {
		flow-children: down;
		width: 400px;
		height: 100%;
		margin-right: 8px;
		padding-left: 4px;
	}

	&__right {
		flow-children: down;
	}

	&__title {
		@include mixin.font-styles($use-header: true);
		font-size: 21px;
	}

	&__description {
		height: 100%;
		margin-top: 4px;
		padding-right: 16px;
		font-size: 14px;
		text-overflow: ellipsis;
	}

	&__image {
		width: 384px;
		height: 384px * 0.5625;
		box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.8);

		transition: wash-color 0.1s linear 0s;

		&:hover {
			wash-color: rgb(222, 222, 222);
		}
	}

	&__learnmore {
		height: 28px;
		width: 100%;
		margin-top: 4px;
	}
}

.bottombar {
	$root: &;
	margin: 24px;
	width: 100%;

	&__button {
		width: 60px;
		height: width-percentage(100%);
		margin: 0 2px;
		transition-property: transform;
		transition-timing-function: ease-in-out;
		transition-duration: 0.2s;

		&:hover {
			transform: translateY(-6px);
		}
	}

	&__icon {
		width: 100%;
		height: width-percentage(100%);
		padding: 8px;
		vertical-align: middle;

		opacity: 0.8;

		transition-property: opacity, img-shadow;
		transition-timing-function: ease-out;
		transition-duration: 0.2s;
		img-shadow: 0 0 16px 2 black;

		#{$root}__button:hover & {
			opacity: 1;
			img-shadow: 0 0 24px 2 $blue;
		}
	}

	&__text {
		align: center center;
		text-align: center;
		overflow: squish;
		text-overflow: shrink;
		@include mixin.font-styles($use-header: true);
	}

	&__tooltip {
		tooltip-position: top;
		tooltip-arrow-position: 50% 50%;
		tooltip-body-position: 50% 50%;
	}
}

.mapselector__background {
	width: 1920px;
	height: 1080px;
	transition-property: opacity;
	transition-duration: $page-transition-duration;
	transition-timing-function: $page-transition-timing-func;
	opacity: 1;
	z-index: 1;

	&--hidden {
		opacity: 0;
	}
}
