@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';
@use 'sass:color';
@use 'sass:list';

.button {
	height: $button-height;
	background-color: $button-background;
	box-shadow: $button-shadow;
	border-radius: $button-radius;
	color: $button-text-color;
	horizontal-align: center;
	text-align: center;
	flow-children: right;
	transition: background-color 0.1s ease-in 0s;
	
	&:hover {
		background-color: $button-background-hover;
	}
	
	&:disabled,
	&:disabled &:hover {
		background-color: $button-background-disabled-hover;
	}
	
	&:disabled &__text {
		color: $button-text-disabled;
	}

	&:disabled &__icon {
		wash-color: $button-text-disabled;
	}

	&__text {
		@include mixin.font-styles($use-header: $button-use-header-font);
		font-size: $button-font-size;
		color: $button-text-color;
		margin: 0 $button-text-side-margin;
		text-shadow: $button-text-shadow;
		vertical-align: middle;
		horizontal-align: center;
		text-align: center;

		&:hover {
			color: $button-text-hover;
		}

		&--left {
			margin-left: $button-text-side-margin;
			margin-right: $button-icon-text-gap;
		}

		&--right {
			margin-left: $button-icon-text-gap;
			margin-right: $button-text-side-margin;
		}
	}
	
	&__icon {
		height: 100%;

		width: height-percentage(100%);
		padding: $button-icon-padding;
		vertical-align: middle;
		img-shadow: $button-icon-shadow;
		wash-color: $button-text-color;

		&--left {
			margin-left: $button-icon-with-text-side-margin;
			margin-right: $button-icon-text-gap;
		}

		&--right {
			margin-left: $button-icon-text-gap;
			margin-right: $button-icon-with-text-side-margin;
		}
	}
}

@each $name, $colors in $gradients-primary {
	.button--#{$name} {
		background-color: function.gradient-vertical(list.nth($colors, 1), list.nth($colors, 2));

		&:hover {
			background-color: function.gradient-vertical(
				color.scale(list.nth($colors, 1), $saturation: list.nth($gradient-hover-transform, 1), $lightness: list.nth($gradient-hover-transform, 2), $alpha: list.nth($gradient-hover-transform, 3)),
				color.scale(list.nth($colors, 2), $saturation: list.nth($gradient-hover-transform, 1), $lightness: list.nth($gradient-hover-transform, 2), $alpha: list.nth($gradient-hover-transform, 3))
			);
		}

		&:disabled,
		&:disabled:hover  {
			background-color: $button-background-disabled-hover;
		}
	}
}
