@use '../config'as *;

.progressbar {
	width: $progressbar-width;
	height: $progressbar-height;
	box-shadow: $progressbar-shadow;
	background-color: $progressbar-background;

	.ProgressBarLeft {
		background-color: $progressbar-background-progress;
	}

	.ProgressBarRight {
		background-color: $progressbar-background;
	}
	
	&:disabled {
		.progressbar, .ProgressBarRight {
			background-color: $progressbar-background-disabled;
		}
	}
}
