@use '../config' as *;
@use '../abstract/function';
@use '../abstract/mixin';
@use 'sass:color';
@use 'sass:list';

.radiobutton {
	transition-property: background-color;
	transition-duration: 0.05s;
	transition-timing-function: linear;

	.RadioBox {
		visibility: collapse;
	}

	&:selected {
		background-color: $button-background-selected;
	}
}

@each $name, $colors in $gradients-primary {
	.radiobutton--#{$name} {
		&:selected {
			background-color: function.gradient-vertical(list.nth($colors, 1), list.nth($colors, 2));
			border: $button-colored-border;
		}
	}
}

.radiobutton-classic {
	background-color: none;
	vertical-align: middle;
	flow-children: right;

	transition-property: background-color, color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	.RadioBox {
		width: $radiobox-width;
		height: $radiobox-width;
		margin-right: $radiobutton-gap;
		border-radius: $radiobox-radius;
		background-color: gradient(radial, 50% 50%, 0% 0%, 50% 50%, from($radiobutton-background), to($radiobutton-background));
		box-shadow: $radiobox-shadow;

		transition-property: background-color;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}

	&__text {
		@include mixin.font-styles($use-header: $radiobutton-use-header-font);
		vertical-align: middle;
	}

	&:hover .RadioBox {
		background-color: gradient(radial, 50% 50%, 0% 0%, 50% 50%, from($radiobutton-background-hover), to($radiobutton-background-hover));
	}

	&:disabled .RadioBox,
	&:disabled:hover .RadioBox {
		background-color: gradient(radial, 50% 50%, 0% 0%, 50% 50%, from($radiobutton-background-disabled), to($radiobutton-background-disabled));
	}

	&:disabled &__text {
		color: $radiobutton-text-disabled;
	}

	&:selected .RadioBox {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			50% 50%,
			from($radiobutton-background-selected),
			color-stop(0.4, $radiobutton-background-selected),
			color-stop(0.45, $radiobutton-background),
			to($radiobutton-background)
		);
	}

	&:disabled:selected .RadioBox {
		background-color: gradient(
			radial,
			50% 50%,
			0% 0%,
			50% 50%,
			from($radiobutton-background-disabled),
			color-stop(0.4, $radiobutton-background-disabled),
			color-stop(0.45, $radiobutton-background-disabled-selected),
			to($radiobutton-background-disabled-selected)
		);
	}
}

.tab {
	text-align: center;
	background-color: $tab-background;

	box-shadow: $tab-shadow;
	border-bottom: $tab-border-bottom;

	padding: 2px 8px 0px 8px;

	transition-property: background-color, border;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;

	&:hover {
		background-color: $tab-background-hover;
		border-bottom: $tab-border-bottom-hover;
	}

	&:selected {
		background-color: $tab-background-selected;
		border-bottom: $tab-border-bottom-selected;
	}

	&:disabled {
		background-color: $tab-background-disabled;
	}

	$root: &;

	&__gap {
		width: $tab-gap-width;
		height: 100%;
		background-color: $tab-gap-background;
		border-bottom: $tab-border-bottom;
	}

	&__text {
		@include mixin.font-styles($use-header: $tab-use-header-font, $light-header: $tab-light-header);
		font-size: $tab-font-size;
		vertical-align: center;
		horizontal-align: center;
		margin: 0px;
		padding: 4px 10px;
		color: rgb(236, 236, 236);
		transition: color 0.1s ease-in-out 0s;

		#{$root}:hover &,
		#{$root}:selected & {
			color: rgb(255, 255, 255);
		}

		#{$root}:disabled & {
			color: rgb(163, 163, 163);
		}
	}

	.RadioBox {
		visibility: collapse;
	}
}
