@use '../config' as *;

.cgaz {
	vertical-align: middle;

	&__container {
		width: 100%;
		horizontal-align: left;
	}
}

.arrow {
	&__up {
		transform: rotatez( 0deg );
	}

	&__down {
		transform: rotatez( 180deg );
	}
}
