@use '../config' as *;

.cgaz {
	vertical-align: middle;

	&__container {
		width: 100%;
		height: 20px;
		horizontal-align: left;
		overflow: noclip noclip;
	}

	&--slow{
		height: 100%;
		background-color: $white;
		opacity: 0.6;
	}

	&--fast{
		height: 100%;
		background-color: $blue;
		opacity: 0.6;
	}

	&--turn{
		height: 100%;
		background-color: $red;
		opacity: 0.6;
	}

	&--deadzone {
		height: 100%;
		opacity: 0;
	}

	&--mirror {
		height: 100%;
		margin: -2px;
		border-width: 2px;
		border-color: $white;
	}
}
