MomCrosshair,
#CrosshairContainer {
	width: 100%;
	height: 100%;
}

/* crosshair--hidden class is defined when cl_crosshair_style isn't 1 */
.crosshair--hidden > #CrosshairContainer {
	visibility: collapse;
}

#CrosshairImage {
	vertical-align: center_nopixelsnap;
	horizontal-align: center_nopixelsnap;
}
