@use '../config' as *;
@use '../abstract/mixin';
@use 'sass:color';

.hud-customizer {
	width: 100%;
	height: 100%;

	visibility: collapse;
	z-index: 1000;

	&--enabled {
		visibility: visible;
	}
}

.hud-customizer-grid {
	width: 100%;
	height: 100%;
	visibility: collapse;

	.hud--customizer-enabled &--enabled {
		visibility: visible;
	}

	&__line {
		$this: &;
		$color: rgb(255, 255, 255);

		background-color: rgba(255, 255, 255, 0.05);
		transition: background-color 0.05s ease-out 0s;

		&--edge {
			background-color: none;
		}

		&--x {
			margin-left: -1px;
			width: 1px;
			height: 100%;
		}

		&--y {
			margin-top: -1px;
			width: 100%;
			height: 1px;
		}

		&--highlight {
			background-color: rgba($color, 0.3);
		}

		&--center {
			background-color: rgba($color, 0.1);

			&#{$this}--highlight {
				background-color: rgba($color, 1);
			}
		}
	}
}

.hud-customizer-settings {
	width: 260px;
	flow-children: down;
	align: right top;
	margin-right: 32px;
	margin-top: 32px;
	background-color: #222;
	border-radius: 2px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 1px 4px black;

	&__header {
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 4px 8px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);

		&__title {
			font-family: $font-monospace;
			font-size: 12px;
			font-weight: medium;
			vertical-align: center;
		}

		&__close {
			horizontal-align: right;
			vertical-align: center;
			width: 12px;
			height: 12px;
			wash-color: #bbb;
			transition: wash-color 0.1s ease-in-out 0s;

			&:hover {
				wash-color: #fff;
			}
		}
	}

	&__component-list {
		flow-children: down;
		margin-left: 6px;
		margin-right: 6px;
		margin-bottom: 8px;
		border-radius: 2px;
		width: 100%;
		border: 1px solid rgba(255, 255, 255, 0.025);
		background-color: rgba(0, 0, 0, 0.4);
	}

	&__component {
		flow-children: right;
		width: 100%;
		padding: 2px 6px;

		background-color: rgba(255, 255, 255, 0);
		transition: background-color 0.1s ease-in-out 0s;

		&:hover {
			background-color: rgba(255, 255, 255, 0.05);
		}

		&:selected {
			background-color: rgba(255, 255, 255, 0.1);
		}

		&__name {
			font-family: $font-monospace;
			font-size: 11px;
			font-weight: medium;
		}
	}

	&__global {
		width: 100%;
		flow-children: down;
		margin: 4px 10px 6px 10px;
	}

	&__active {
		flow-children: down;
		width: 100%;
		margin: 0px 10px 6px 10px;

		&__header {
			width: 100%;

			font-size: 18px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.05);

			&__name {
				font-family: $font-monospace;
				font-weight: medium;
				vertical-align: center;
				font-size: 14px;
				padding-bottom: 2px;
			}
		}

		&__contents {
			width: 100%;
			flow-children: down;
			margin-top: 4px;
		}
	}

	&__row {
		height: 16px;
		width: 100%;
		flow-children: right;
		margin-bottom: 4px;
	}

	@mixin name {
		font-family: $font-monospace;
		font-size: 11px;
		vertical-align: center;
		horizontal-align: left;
	}

	&__setting-label:not(.specificity-hack-fuck-css) {
		@include name;
	}

	&__numberentry {
		horizontal-align: right;
		vertical-align: center;
		height: 16px;
		margin-left: 4px;

		& Button {
			background-color: rgba(17, 17, 17, 0.7);
			wash-color: none;

			& Image {
				padding: 4px;
			}
		}

		& TextEntry {
			width: fit-children;
			text-align: center;
			min-width: 24px;
			horizontal-align: center;
			padding: 1px 0 1px 6px;
			font-family: $font-monospace;
			font-size: 11px;
		}
	}

	&__togglebutton {
		width: 100%;
		flow-children: none;
		min-height: 16px;

		& Label {
			horizontal-align: left;
			@include name;
		}

		& .TickBox {
			horizontal-align: right;
			vertical-align: center;
			width: 16px;
			height: 16px;
			margin-right: 0;
		}
	}

	&__colordisplay:not(.spec-hack) {
		flow-children: right;
		width: 100%;
		height: 20px;
		border-width: 0;
		margin: 0;
		padding: 0;

		// todo: random layout shifting bullshit going on. start with fill-parent-flow usage?
		& Label:not(.spec-hack) {
			@include name;
			width: fit-children;
			height: 20px;
			vertical-align: center;
		}

		& Panel:not(.spec-hack) {
			width: 16px;
			margin: 0;
			margin-right: 6px;
			vertical-align: center;
			border-radius: 2px;
		}

		& TextEntry:not(.spec-hack) {
			//width: fill-parent-flow(1);
			font-size: 10px;
			width: 100px;
			padding: 1px 0 1px 6px;
			font-family: $font-monospace;
			vertical-align: center;
			height: 16px;
			margin: 0;
		}
	}
}

.hud-customizer-dragpanel {
	//border: 1px solid orange;
}

.hud-customizer-overlay {
	$root: &;
	$header-height: 24px;

	z-index: 10;
	flow-children: down;
	overflow: noclip;

	// TODO:make this work!!!
	&--dragging {
		//animation: HudCustomizerDraggingPulse 1s ease-in-out 0s infinite normal forwards;

		@at-root {
			@keyframes HudCustomizerDraggingPulse {
				0% {
					border: 1px solid rgba($red, 1);
				}
				50% {
					border: 1px solid rgba(color.scale($red, $saturation: 20%, $lightness: -10%), 1);
				}
				100% {
					border: 1px solid rgba($red, 1);
				}
			}
		}
	}

	&__resize-knobs {
		width: 100%;
		height: 100%;
		overflow: noclip;

		$size: 8px;
		$half: calc($size / 2);

		&__knob {
			width: $size;
			height: $size;
			border-radius: 1px;
			background-color: rgba(255, 255, 255, 0.8);
			border: 1px solid rgba(0, 0, 0, 0.2);
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);

			transition-property: border, box-shadow, background-color;
			transition-timing-function: ease-in-out;
			transition-duration: 0.1s;

			&:hover {
				background-color: rgba(200, 200, 200, 1);
				border: 1px solid rgba(0, 0, 0, 0.4);
				box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
			}

			&--top {
				align: center top;
				transform: translateY(-$half);
			}

			&--top-left {
				align: left top;
				transform: translateX(-$half) translateY(-$half);
			}

			&--top-right {
				align: right top;
				transform: translateX($half) translateY(-$half);
			}

			&--left {
				align: left center;
				transform: translateX(-$half);
			}

			&--right {
				align: right center;
				transform: translateX($half);
			}

			&--bottom {
				align: center bottom;
				transform: translateY($half);
			}

			&--bottom-left {
				align: left bottom;
				transform: translateX(-$half) translateY($half);
			}

			&--bottom-right {
				align: right bottom;
				transform: translateX($half) translateY($half);
			}
		}
	}

	$border: rgb(23, 255, 0);
	&__main {
		height: fill-parent-flow(1);
		width: 100%;

		border: 1px solid $border;
	}

	&__name {
		align: left top;
		margin-left: 16px;
		height: $header-height;
		width: fit-children;

		border-left: 1px solid $border;
		border-top: 1px solid $border;
		border-right: 1px solid $border;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 2px 4px;

		font-family: $font-monospace;
		font-size: 11px;
		font-weight: medium;
	}
}
