@use '../config' as *;

.defrag {
	vertical-align: middle;

	&__container {
		width: 100%;
		horizontal-align: left;
		overflow: noclip noclip;
	}
}

.arrow {
	&__up {
		transform: rotatez(0deg);
	}

	&__down {
		transform: rotatez(180deg);
	}
}

.defrag-line {
	width: 100%;
	height: 2px;
	align: center top;
	transform: translatey(-1px);

	&__container {
		//width set in js
		height: 100%;
		horizontal-align: center;
	}
}

.defrag-tick {
	width: 2px;
	transform: translatex(-1px);
	vertical-align: top;

	&__full {
		height: 100%;
	}

	&__half {
		height: 50%;
	}

	&__container {
		//height set in js
		width: 100%;
		vertical-align: center;
	}
}

.defrag-stats {
	width: 50px;
	height: 24px;
	font-size: 20px;
	text-align: right;

	&__container {
		width: 200px;
		height: 100px;
		horizontal-align: center;
		vertical-align: center;
		overflow: noclip;
	}

	&__pitch {
		horizontal-align: left;
		transform: translatex(-40px);
	}

	&__yaw {
		horizontal-align: left;
		transform: translatex(175px);
	}
}
