@use '../config' as *;

$ghost-ent-shadow: 0 1.5px 6px 0 rgba(0, 0, 0, 0.5);

.ghost-ent {
	height: 34px;
	flow-children: right;

	transition: transform 0.2s ease-in-out 0s;
	transform-origin: 0% 50%;

	&__avatar {
		height: 100%;
		width: height-percentage(100%);
		border: 1px solid rgba(255, 255, 255, 0.25);
		box-shadow: $ghost-ent-shadow;
	}
}

.ghost-ent-namepanel {
	height: 40px;
	box-shadow: $ghost-ent-shadow;

	transition: transform 0.2s ease-in-out 0s;
	transform-origin: 0% 50%;
	&--hidden {
		transform: scale3d(0, 1, 1);
	}

	&__label {
		padding: 4px;
		letter-spacing: 0;
		align: left center;
		text-align: left;
	}
}
