@use '../config' as *;

.groundboost {
	&__container {
		transition-property: opacity;
		transition-delay: 0.5s;
		transition-timing-function: ease-in-out;
		transition-duration: 0.5s;
		opacity: 1;

		&--hide {
			transition-duration: 0s;
			opacity: 0;
		}
	}

	&__meter {
		height: 100%;
		width: 100%;
	}

	&__background-meter {
		height: 100%;
		width: 100%;
		img-shadow: 1px 1px 3px 0.8 rgba(0, 0, 0, 0.35);
	}

	&__label {
		align: center center;
		text-align: center;
		font-weight: bold;
		text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 2.5;
	}
}
