@use '../abstract/mixin';

.hud-hint {
	width: fit-children;
	max-width: 640px;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 6px 24px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.0125);
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;

	&--visible {
		opacity: 1;
	}

	&__label {
		@include mixin.font-regular();
		horizontal-align: center;
		font-size: 18px;
		font-weight: medium;
	}
}
