@use '../config' as *;

.hud {
	width: 100%;
	height: 100%;
	flow-children: none;

	&__in-world,
	&__reticle {
		width: 100%;
		height: 100%;
	}

	&__item {
		&--active {
			border: 1px solid rgba($blue, 0.7);
		}

		&--selected {
			border: 1px solid rgba($blue, 1);
		}
	}
}

.hud-customizer {
	width: 100%;
	height: 100%;

	&--disabled {
		visibility: collapse;
	}

	&__grid {
		width: 100%;
		height: 100%;
	}

	&__gridline {
		$this: &;
		$color: rgb(255, 255, 255);

		background-color: rgba(255, 255, 255, 0.02);
		transition: background-color 0.05s ease-out 0s;

		&--edge {
			background-color: none;
		}

		&--x {
			width: 2px;
			height: 100%;
		}

		&--y {
			width: 100%;
			height: 2px;
		}

		&--highlight {
			background-color: rgba($color, 0.3);
		}

		&--center {
			background-color: rgba($color, 0.1);

			&#{$this}--highlight {
				background-color: rgba($color, 1);
			}
		}
	}
}

.hud-customizer-virtual {
	// border: 1px solid rgba(255, 255, 255, 0.1);

	&--dragging {
		& > .hud-customizer-virtual-snaps {
			opacity: 0;
		}
	}
}

.hud-customizer-virtual-snaps {
	$root: &;
	width: fit-children;
	height: fit-children;

	horizontal-align: right;
	flow-children: down;

	margin: 2px;
	border-radius: 2px;

	tooltip-position: bottom;

	// transition: opacity 0.05s ease-in-out 0s;

	&__row {
		width: fit-children;
		height: fit-children;
		flow-children: right;
	}

	&__button {
		width: 24px;
		height: 24px;
		border: 1px solid rgba(0, 0, 0, 0);
		background-color: rgba(0, 0, 0, 0.5);

		transition: background-color 0.075s ease-in-out 0s;

		&--last {
			border-left: 0px solid none;
		}

		&:selected {
			background-color: rgba(90, 90, 90, 0.5);

			& > #{$root}__icon {
				opacity: 1;
			}
		}

		&:hover {
			background-color: rgba(99, 99, 99, 0.5);
		}
	}

	&__icon {
		width: 100%;
		height: 100%;
		padding: 2px;
		opacity: 0.3;
	}
}

MomHudGhostEntities {
	position: 100px 200px 0px;
}

.hud-blur {
	width: 100%;
	height: 100%;
	-s2-mix-blend-mode: opaque;
	blur: fastgaussian(4, 4, 5);
}

#HudTopLeft {
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
}

#HudNotify {
	horizontal-align: left;
	vertical-align: top;
	flow-children: down;
}

#HudTopCenter {
	horizontal-align: center;
	width: 100%;
	opacity: 1;
	flow-children: down;
}

#HudBottomCenter {
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	height: 45%;
	opacity: 1;
	flow-children: down;
}

#HudLowerLeft {
	horizontal-align: left;
	vertical-align: bottom;
	flow-children: down;
}

#HudTopRight {
	horizontal-align: right;
	vertical-align: top;
	flow-children: down;
}

#HudCenter {
	width: 100%;
	height: 100%;
	margin-top: 300px;
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
}

#HudBottomRight {
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: down;
}

#HudInWorld,
#HudReticle {
	width: 100%;
	height: 100%;
}

MomHudChat {
	width: 576px;
	height: 324px;
}
