@use '../config' as *;

.bhopjump {
	align: center center;

	&__component {
		align: center center;
		transform: translateY(34px);
	}

	&__outer-container {
		width: fit-children;
		height: fit-children;
		flow-children: down;
		horizontal-align: center;
		vertical-align: center;
	}

	&__bar-container {
		width: fit-children;
		height: $bhopjump-height;
		flow-children: right;
		horizontal-align: center;
		vertical-align: center;
	}

	&__bar-tick-container {
		width: $bhopjump-width;
		height: 20px;
		vertical-align: center;
	}

	&__bar-wrapper {
		width: 100%;
		height: 16px;
		border: 1px solid $white;
		border-radius: 3px;
		opacity: $bhopjump-opacity;
		flow-children: right;
		vertical-align: center;
	}

	&__text-wrapper {
		width: 64px;
		height: $bhopjump-height;
		vertical-align: top;
		font-size: $bhopjump-font-size;
		font-weight: $bhopjump-font-weight;

		&--early {
			horizontal-align: right;
			padding-right: $bhopjump-padding;
		}

		&--late {
			horizontal-align: left;
			padding-left: $bhopjump-padding;
		}
	}

	&__zone {
		height: 100%;
		vertical-align: center;
	}

	&__tick-marker {
		width: 2px;
		height: 100%;
		background-color: $white;
		vertical-align: center;
		visibility: collapse;
	}

	&__perf-percent {
		horizontal-align: center;
		margin-top: 4px;
	}
}
