.jumpstats {
	align: left top;

	&__container {
		width: fit-children;
		height: fit-children;
		flow-children: right;
		align: center top;
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__label {
		text-shadow-fast: 0px 1px rgba(0, 0, 0, 0.9);
		align: center bottom;
		margin: 5px;
		flow-children: up;
		vertical-align: top;

		&--name {
			width: 100%;
			font-size: 16px;
			text-align: center;
			border-top: 1px solid white;
		}

		&--values {
			horizontal-align: center;
			font-size: 16px;
			text-align: right;
		}

		&--increase {
			color: rgba(16, 118, 168, 1);
		}

		&--decrease {
			color: rgba(255, 106, 106, 1);
		}

		&--count {
			max-width: 60px;
		}

		&--speed {
			width: 60px;
		}

		&--speed-delta {
			width: 60px;
		}

		&--time {
			width: 100px;
		}

		&--time-delta {
			width: 60px;
		}

		&--strafes {
			width: 60px;
		}

		&--sync {
			width: 60px;
		}

		&--gain {
			width: 60px;
		}

		&--yaw-ratio {
			width: 80px;
		}

		&--height-delta {
			width: 80px;
		}

		&--distance {
			width: 80px;
		}

		&--efficiency {
			width: 60px;
		}
	}
}
