.keypress {
	flow-children: down;
	margin: 35px;

	// TODO: strafe keys are not implemented!
	&__unimplemented {
		visibility: collapse;
	}

	&__key {
		horizontal-align: center;
		text-align: center;
		font-size: 21px;
		font-family: Roboto;
		font-weight: bold;
		text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
		color: #fff;

		&:disabled {
			opacity: 0.15;
		}

		// set in code
		&.hidden {
			visibility: collapse;
		}
		&.blocked {
			wash-color: #f00;
		}
	}
}

.keypress-arrows {
	width: 85px;
	height: 55px;
	margin: 10px;

	&__key {
		width: 25px;
		height: 25px;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);

		&:disabled {
			background-color: rgba(0, 0, 0, 0.5);
		}

		&.blocked {
			wash-color: #f00;
			&:disabled {
				background-color: rgba(255, 0, 0, 0.5);
			}
		}
	}

	&__icon {
		wash-color: #0f171c;
		height: 100%;
		width: height-percentage(100%);
		vertical-align: middle;

		&:parentdisabled {
			wash-color: #000;
			opacity: 0.45;
		}
	}
}

.keypress-key {
	&__m1 {
		vertical-align: top;
		horizontal-align: left;
	}
	&__m2 {
		vertical-align: top;
		horizontal-align: right;
	}

	&__forward {
		horizontal-align: middle;
		vertical-align: top;
	}
	&__back {
		horizontal-align: middle;
		vertical-align: bottom;
	}
	&__left {
		horizontal-align: left;
		vertical-align: bottom;
	}
	&__right {
		horizontal-align: right;
		vertical-align: bottom;
	}
}

.keypress-icon {
	&__forward {
		transform: rotatez(-90deg);
	}
	&__back {
		transform: rotatez(90deg);
	}
	&__left {
		transform: rotatez(180deg);
	}
}
