@use '../config' as *;
@use '../abstract/mixin';

.hud-map-info {
	flow-children: down;
	min-width: 350px;
	height: fit-children;
	&__label {
		text-transform: uppercase;
		font-weight: bold;
		text-overflow: ellipsis;
		letter-spacing: 1px;
	}
}
