@use '../config' as *;
@use '../abstract/mixin';

.hud-map-info {
	flow-children: down;
	width: 350px;
	height: fit-children;

	&__label {
		@include mixin.font-styles($use-header: true);
		font-size: 20px;
		text-align: right;
		text-overflow: ellipsis;
		color: $white;
	}
}
