@use '../config' as *;
@use '../abstract/mixin';

.hudmapinfo {
	margin: 0 5px 5px 5px;
	flow-children: down;
	width: 350px;
	height: fit-children;
	align: right center;

	&__label {
		@include mixin.font-styles($use-header: true);
		font-size: 20px;
		text-align: right;
		text-overflow: ellipsis;
		color: $white;
	}
}
