@use '../config' as *;
@use '../abstract/mixin';

.powerup-timer {
	flow-children: down;
	padding-left: 16px;

	&__item {
		flow-children: right;
	}

	&__label {
		text-shadow: 0px 1px 1.5px 1 rgba(0, 0, 0, 1);
		font-weight: bold;
		padding-left: 16px;
		horizontal-align: left;
		vertical-align: center;
	}

	&__icon {
		vertical-align: center;
		height: 48px;
		width: 48px;

		&--haste {
			wash-color: rgba(255, 188, 0, 1);
		}

		&--damageboost {
			wash-color: rgba(113, 240, 255, 1);
		}
	}
}
