@use '../config' as *;

.safeguard {
	&__container {
		height: 64px;
		width: 64px;

		transition-property: clip;
		transition-timing-function: linear;
		opacity: 1;
		clip: radial(50% 50%, 0deg, 0deg);

		&--hide {
			opacity: 0;
			clip: radial(50% 50%, 0deg, -360deg);
		}
	}

	&__meter {
		height: 100%;
		width: 100%;
		color: $white;
		opacity: 0.75;
		img-shadow: 0 1px 3px rgba(0, 0, 0, 0.9);
	}
}
