.showpos {
	flow-children: down;
	height: fit-children;
}

.showpos-entry {
	flow-children: down;
	height: fit-children;
	width: fit-children;

	&__label {
		font-weight: bold;
		text-align: center;
		text-overflow: ellipsis;
	}
}
