@use '../config' as *;

$snap-vertical-offset: 40px;
$snap-vertical-center: 540px;

.snap-container {
	width: 100%;
	height: 10px;
	horizontal-align: left;
	//vertical-align: bottom;
	//position: 0px $snap-vertical-offset 0px;
	overflow: noclip noclip;
}

.snap-zone {
	&--uncolored {
		height: 100%;
		background-color: rgba(0, 0, 0, 0);

		&--highlight {
			padding: -2px;
			border: 2px solid $white;
			background-color: rgba(240, 240, 240, 0.15);
		}
	}

	&--colored {
		height: 100%;
		background-color: rgba(210, 210, 210, 0.6);

		&--highlight {
			padding: -2px;
			border: 2px solid $white;
			background-color: rgba(240, 240, 240, 0.7);
		}
	}
}
