@use '../config' as *;

.snap {
	width: 100%;
	height: fit-children;
	vertical-align: middle;

	&__container {
		width: 100%;
		height: 10px;
		horizontal-align: left;
		overflow: noclip noclip;
	}

	&__uncolored {
		height: 100%;
		background-color: $white;
		opacity: 0;

		&--highlight {
			margin: -2px;
			border-width: 2px;
			border-color: $white;
		}
	}

	&__colored {
		height: 100%;
		background-color: $white;
		opacity: 0.6;

		&--highlight {
			margin: -2px;
			border-width: 2px;
			border-color: $white;
		}
	}
}
