.hudspecinfo {
	flow-children: down;
	width: 100%;
	height: fit-children;

	&__count {
		text-shadow-fast: 0px 1px rgba(0, 0, 0, 0.9);
		text-align: right;
		text-overflow: ellipsis;
	}

	&__container {
		width: 100%;
	}

	&__names-container {
		width: 100%;
		horizontal-align: right;
	}
}

.specinfo-list-entry {
	margin: 2px 15px 0 0;
	flow-children: down;
	width: fill-parent-flow();
	height: fit-children;

	&__name {
		text-shadow-fast: 0px 1px rgba(0, 0, 0, 0.9);
		text-overflow: ellipsis;
	}
}
