.hudspecinfo {
	flow-children: down;
	width: 100%;
	height: fit-children;

	&__count {
		text-overflow: ellipsis;
	}

	&__container {
		width: 100%;
	}

	&__names-container {
		width: 100%;
	}
}

.specinfo-list-entry {
	margin: 2px 15px 0 0;
	flow-children: down;
	width: fill-parent-flow(1);
	height: fit-children;

	&__name {
		text-overflow: ellipsis;
	}
}
