.speedometers {
	flow-children: down;
	width: 320px;
}

.speedometer {
	align: center center;
	flow-children: right;

	&__axis {
		font-weight: black;
		&__comparison {
			font-weight: bold;
		}
	}
	&__event {
		font-weight: medium;

		&__comparison {
			margin-left: 2px;
			font-weight: normal;
		}
	}
	&--hidden {
		visibility: collapse;
	}
	&--fade-start {
		transition-property: opacity;
		transition-duration: 5s;
		transition-timing-function: cubic-bezier(1, 0, 1, 0);
	}
	&--fadeout {
		transition-duration: 0s;
		opacity: 0;
	}
}
