.speedobars {
	horizontal-align: center;
	vertical-align: center;
	height: 30%;

	.speedobar {
		&__vertical {
			transform: rotateZ(270deg);
			horizontal-align: left;
			vertical-align: middle;
			x: -150px;
		}
		&__horizontal {
			vertical-align: bottom;
		}
	}
}
