@use '../config' as *;
@use '../abstract/mixin';

.hudstatus {
	margin-top: 6px;
	flow-children: down;
	width: 100%;
	align: center center;

	&__label {
		@include mixin.font-styles($use-header: false);

		font-size: $timer-hudstatus-font-size;
		text-align: center;
		align: center center;
		color: $timer-hudstatus-color;
	}
}
