@use '../config' as *;

// keyframe sticky arming over a second to avoid ending the animation before the armed state is set
// (as that causes color flickering)
@keyframes stickyArmAnim {
	from {
	}
	70% {
		background-color: $progressbar-background;
	}
	// 0.8 second arm time
	80% {
		background-color: $progressbar-background-progress;
	}
	to {
	}
}

.sticky-count {
	margin: 6px 0 6px 0;

	// assigned in code
	.sticky-panel {
		margin: 0 8px 0 8px;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		align: center center;

		box-shadow: $progressbar-shadow;
		background-color: $progressbar-background;
		border: 0px solid transparent;

		&--nosticky {
			background-color: $progressbar-background;
			border: 0px solid transparent;
		}

		&--sticky-arming {
			animation-name: stickyArmAnim;
			animation-duration: 1s;
		}

		&--sticky-armed {
			background-color: $progressbar-background-progress;
		}

		&--sticky-blocked {
			animation-name: none;
			background-color: $progressbar-background-disabled;
			border: 0px solid transparent;

			transition-property: background-color;
			transition-duration: 0.25s;
		}
	}
}
