@use '../config' as *;

.sticky-count {
	margin: 6px 0 6px 0;

	// assigned in code
	.sticky-panel {
		align: center center;
		border-style: solid;
		//Breaks customization
		// box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px;
	}
}
