@use '../abstract/function';
@use '../config' as *;
@use 'sass:color';

$border-color: rgba(255, 255, 255, 0.3);

.strafetrainer {
	height: 80px;
	min-width: 300px;
	overflow: noclip;

	&__bar-wrapper {
		margin-bottom: 32px;
		transform: translateY(32px);
		width: 100%;
	}

	&__background {
		height: 16px;
		width: 100%;
		border-radius: 8px;
	}

	&__container {
		height: 100%;
		width: 100%;
		box-shadow: fill 0px 0px 12px -6px rgba(0, 0, 0, 1);
	}

	&__segment {
		height: 100%;
		width: 25%;
	}

	&__needle {
		width: 1px;
		height: 100%;
		horizontal-align: center;
		//Breaks HUD Customizer background styling
		// box-shadow: 0 0 2px rgba(255, 255, 255, 0.05);
	}

	&__stats {
		height: 100%;
		width: 300px;
		padding: 2px;
		vertical-align: center;
		horizontal-align: center;

		&--upper {
			align: center top;
			font-weight: bold;
		}

		&--lower {
			align: center bottom;
			font-weight: bold;
		}
	}
}
