@use '../abstract/function';
@use '../config' as *;
@use 'sass:color';

$border-color: rgba(255, 255, 255, 0.3);

.synchronizer {
	height: 80px;
	horizontal-align: center;
	overflow: noclip;

	&__bar-wrapper {
		margin-bottom: 32px;
		transform: translateY(32px);
	}

	&__background {
		height: 16px;
		width: 300px;
		background-color: color.scale(rgba($progressbar-background, 1), $lightness: 2%);
		border-radius: 8px;
	}

	&__container {
		height: 100%;
		width: 100%;
		box-shadow: fill 0px 0px 12px -6px rgba(0, 0, 0, 1);
		background-color: function.gradient-vertical(rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.5));
	}

	&__segment {
		height: 100%;
		width: 25%;
	}

	&__needle {
		height: 100%;
		width: 2px;
		horizontal-align: center;
		background-color: rgba(0, 0, 0, 1);
	}

	&__stats {
		height: 100%;
		width: 300px;
		padding: 2px;
		vertical-align: center;
		horizontal-align: center;

		&--upper {
			align: center top;
			font-size: 20px;
			font-weight: bold;
		}

		&--lower {
			align: center bottom;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
