@use '../config' as *;
@use '../abstract/mixin';
@use '../abstract/function';
@use 'sass:color';

// ─── Main Container ───────────────────────────────────────────────────────────

.hud-tab-menu {
	$root: &;

	visibility: visible;
	background-color: rgba(0, 0, 0, 0.01); // Very slight background so the blur works
	width: 100%;
	height: 100%;

	&__wrapper {
		width: 100%;
		height: 100%;
		flow-children: down;
	}
}

// ─── Layout regions ───────────────────────────────────────────────────────────

.tab-menu-top {
	width: 100%;
	height: fill-parent-flow(0.2);
	// background-color: rgba(255, 0, 0, 0.289);
}

.tab-menu-center {
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: right;
	// background-color: rgba(0, 128, 0, 0.105);

	&__left {
		width: fill-parent-flow(1);
		height: 100%;
		// background-color: rgba(133, 40, 40, 0.78);
	}

	&__center {
		width: fill-parent-flow(1);
		height: 100%;
		// background-color: rgba(20, 20, 165, 0.747);
	}

	&__right {
		width: fill-parent-flow(1);
		height: 100%;
		// background-color: rgba(199, 199, 27, 0.679);
	}
}

.tab-menu-bottom {
	width: 100%;
	height: fill-parent-flow(0.1);
	// background-color: rgba(0, 0, 255, 0.681);
}

// ─── Content containers ───────────────────────────────────────────────────────
