@use '../config' as *;
@use '../abstract/mixin';

.hudtimer {
	flow-children: down;
	width: 100%;
	align: center center;
	margin: 6px 0px 6px 0;

	&--hidden {
		opacity: 0;
	}

	&__time {
		horizontal-align: center;

		@include mixin.font-styles($use-header: false);
		font-weight: $timer-font-weight;
		font-size: $timer-font-size;
		text-align: center;
		color: $timer-color;

		transition: color 0.15s ease-out 0s;

		&--inactive {
			color: $timer-color-inactive;
		}

		&--finished {
			color: $timer-color-finished;
		}
	}

	&__comparison {
		horizontal-align: center;

		@include mixin.font-styles($use-header: false);
		font-weight: $timer-comp-font-weight;
		font-size: $timer-comp-font-size;
		text-align: center;
		color: $timer-comp-color;

		transition-property: opacity;
		transition-timing-function: ease-out;
		transition-duration: 0s;

		&--increase {
			color: $timer-comp-color-increase;
		}

		&--decrease {
			color: $timer-comp-color-decrease;
		}

		&--enable-fade {
			transition-duration: 0.2s;
		}
	}
}
