@use '../config' as *;
@use '../abstract/mixin';

.weaponselection {
	$root: &;

	// TODO: heavy top margin to separate from mapinfo, as we dont have a center-right hud space.
	// Ideally this should be absolute layouted.
	margin: 250px 0 5px 0;
	flow-children: up;
	width: 350px;
	height: fit-children;
	align: right center;

	opacity: 1;
	transition: opacity 0.3s ease-out 3.5s;

	&--fadeout {
		transition-duration: 0s;
		opacity: 0;
	}

	$trans: 0.15s ease-out 0s;

	&__wrapper {
		flow-children: left;
		margin-top: 0px;
		margin-bottom: 0px;
		width: fit-children;
		height: fit-children;
		align: right center;

		transform: translatex($weapsel-notch-width); // hide notch till deployed
		transition: transform $trans;

		&--deployed {
			background-color: $weapsel-deployed-background-color;
			transform: translatex(0);

			& #{$root}__weplabel {
				color: $weapsel-deployed-name-color;
			}
			& #{$root}__keybind {
				color: $weapsel-deployed-keybind-color;
			}
		}
	}

	&__weplabel {
		@include mixin.font-header();
		font-weight: bold;
		font-size: $weapsel-name-font-size;
		text-align: right;
		text-overflow: clip;

		color: $weapsel-name-color;
		transition: color $trans;

		padding: 6px;
	}

	&__keybind {
		@include mixin.font-header();
		font-weight: bold;
		font-size: $weapsel-name-font-size;

		color: $weapsel-keybind-color;
		transition: color $trans;

		margin-left: 2px;
		margin-right: 10px;
	}

	&__notch {
		background-color: $weapsel-notch-color;
		box-shadow: $font-header-shadow;
		width: $weapsel-notch-width;
		height: 100%;
	}
}
