@use '../config' as *;
@use '../abstract/mixin';

.weaponselection {
	$root: &;

	flow-children: up;
	width: 350px;
	height: fit-children;
	align: right center;

	opacity: 1;
	transition: opacity 0.3s ease-out 3.5s;

	&--fadeout {
		transition-duration: 0s;
		opacity: 0;
	}

	&--show {
		opacity: 1;
	}

	$trans: 0.15s ease-out 0s;

	&__wrapper {
		flow-children: left;
		margin-top: 0px;
		margin-bottom: 0px;
		width: fit-children;
		height: fit-children;
		align: right center;

		transition: transform $trans;

		&--deployed {
			//Used for detection in js
		}
	}

	&__weplabel {
		@include mixin.font-header();
		letter-spacing: 1px;
		font-weight: bold;
		text-align: right;
		text-overflow: clip;

		color: $weapsel-name-color;
		transition: color $trans;

		padding: 6px;
	}

	&__keybind {
		@include mixin.font-header();
		font-weight: bold;
		font-size: $weapsel-name-font-size;

		color: $weapsel-keybind-color;
		transition: color $trans;

		margin-left: 2px;
		margin-right: 10px;
	}

	&__notch {
		background-color: $weapsel-notch-color;
		box-shadow: $font-header-shadow;
		width: $weapsel-notch-width;
		height: 100%;
	}
}
