@use '../config' as *;
@use 'sass:color';

.chat {
	flow-children: up;
	width: 100%;

	&__elem {
		background-color: rgba(0, 0, 0, 0.75);
		border-radius: 4px;
		box-shadow: 0 0 8px 0px rgb(0, 0, 0, 0.5);
		transition: background-color 0.2s ease-in-out 0s;
	}

	&__history-wrapper {
		height: 100%;
		width: 100%;
		margin-bottom: 8px;
		padding: 8px 0;

		&:hover {
			background-color: rgba(0, 0, 0, 0.82);
		}
	}

	&__history {
		height: 100%;
		width: 100%;
		padding: 0px 0px;
		flow-children: up;
		overflow: squish scroll;
	}

	&__member-typing {
		margin: 0px 24px 8px 8px;
		font-size: 16px;
	}

	&__input-container {
		width: 100%;
		margin-bottom: 6px;
		flow-children: right;
	}

	&__input {
		width: fill-parent-flow(1);
		height: 34px;
		vertical-align: bottom;
		horizontal-align: left;
		padding: 6px 12px;

		& > #PlaceholderText {
			visibility: collapse;
		}
	}

	&__send {
		height: 100%;
		margin-left: 8px;
		padding: 4px;
	}

	$this: &;
	&__send-text {
		color: rgba(255, 255, 255, 0.8);
		#{$this}:hover {
			color: rgba(255, 255, 255, 1);
		}
	}

	&__input:hover,
	&__send:hover {
		background-color: rgba(0, 0, 0, 0.85);
	}

	&__spec-icon {
		vertical-align: center;
	}
}

// lobby-chat-message snippet, inserted by C++ code
.chat-entry {
	width: 100%;
	flow-children: right;
	transition: background-color 0.1s ease-in 0s;

	&__message {
		width: fill-parent-flow(1);
		margin-right: 16px;
		padding-top: 2px;
		padding-bottom: 2px;
		text-overflow: clip;
		vertical-align: center;
		font-size: 18px;

		@for $i from 10 through 24 {
			.hud-chat--size-#{$i} & {
				font-size: #{$i}px;
			}
		}
	}

	&__icon {
		width: 18px;
		height: 18px;
		padding: 1px;
		margin-left: 8px;
		margin-right: 6px;
		vertical-align: center;
		wash-color: #d3d3d3;
		img-shadow: 0 1px 2px rgba(0, 0, 0, 1);
		
		@for $i from 10 through 24 {
			.hud-chat--size-#{$i} & {
				width: #{$i}px;
				height: #{$i}px;
			}
		}
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.toast-chat {
	flow-children: up;
	width: 100%;
	height: 100%;
	& .ToastPanel {
		// width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	& .chat-entry__message {
		margin-right: 0px;
	}
}

.chatmsg {
	&__timestamp {
		color: #ccc;
		font-weight: medium;
	}

	&__divider {
		color: #ccc;
	}
}

.chatmsg-timer {
	&__track {
		font-weight: bold;
	}

	&__time {
		font-weight: medium;
		color: $green;
	}

	&__rank-name,
	&__diff-name,
	&__diff-name-negative {
		// unused
	}

	&__diff {
		font-weight: medium;
		color: $mid-blue;
	}

	&__diff-negative {
		font-weight: medium;
		color: $red;
	}

	&__rank {
		font-weight: medium;
		color: $red;
	}

	&__total-ranks {
		font-weight: medium;
		color: $red;
	}

	&__rank-divider {
		// unused
	}
}

.chatmsg-chat,
.chatmsg-lobby,
.chatmsg-map {
	&__user {
		font-weight: bold;
	}

	&__message {
	}
}

.chatmsg-lobby,
.chatmsg-maplobby {
	&__map {
		font-weight: bold;
	}

	&__players {
		font-weight: medium;
		color: #ccc;
		font-size: 14px;
	}
}
