@use '../config' as *;
@use '../abstract/mixin';
@use '../core/animations';
@use 'sass:map';
@use 'sass:color';

.map-info-container {
	$root: &;
	flow-children: down;
	vertical-align: top;
	width: 100%;

	$content-height: 290px;
	$left-margin: 8px;
	$right-width: 300px;

	&__top {
		flow-children: right;
		width: 100%;
		vertical-align: bottom;
	}

	&__top-left {
		flow-children: none;
		width: fill-parent-flow(1);
		margin-right: $left-margin;
	}

	&__top-right {
		flow-children: down;
		width: $right-width;
		horizontal-align: right;
		vertical-align: bottom;
	}

	&__action {
		flow-children: none;

		width: 100%;

		height: 72px;
		max-height: 40px;
	}

	&__content {
		flow-children: right;
		height: $content-height;
		width: 100%;
		margin-top: 8px;

		&-left {
			width: fill-parent-flow(1);
			margin-right: $left-margin;
		}

		&-right {
			width: 300px;
			horizontal-align: left;
		}
	}

	&__favourite {
		width: 40px;
		height: 40px;
		margin: 0 6px;
	}

	&__leaderboard-button {
		box-shadow: fill 0 0 1px 0 rgba(0, 0, 0, 0.8);
	}

	&__big-button {
		width: fill-parent-flow(1);
		height: 36px;

		&__icon {
			padding: 0;
			margin: 0;
			width: 20px;
			height: 20px;
		}

		&__text {
			font-size: 18px;
			margin: 0;
			margin-left: 4px;
			margin-right: 1px;
			vertical-align: center;
			max-width: 60px;
			max-height: 30px;
			overflow: squish;
			text-overflow: shrink;
		}
	}

	&__description {
		height: 100%;
		@include mixin.font-regular();
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__description-scroll {
		flow-children: down;
		overflow: squish scroll;
		padding: 12px;
		width: 100%;

		& > VerticalScrollBar {
			width: 4px;
			opacity: 0.4;
		}
	}

	&__description-main-elements {
		flow-children: down;
		// For some reason (maybe a bug?) when a panel has overflow: scroll its children
		// can't be positioned with align. This is a hack to force the See More button to the bottom.
		width: 100%;
		height: fit-children;
		min-height: 210px;
	}

	&__status,
	&__changelog {
		width: 100%;
		flow-children: down;
	}

	&__status-icon {
		wash-color: #fafafa;
		width: 16px;
		height: 16px;
	}

	&__wrapper {
		flow-children: down;
		width: 100%;
		height: 100%;
		padding: 12px;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);

		&--unpadded {
			padding: 0;
		}
	}

	&__h1,
	&__h2,
	&__h3 {
		@include mixin.font-header();
		font-weight: bold;
		color: #eee;
	}

	&__h1 {
		font-size: 22px;
		margin-bottom: 4px;
	}

	&__h2 {
		font-size: 20px;
		margin-bottom: 4px;
	}

	&__h3 {
		font-size: 18px;
		margin-bottom: 0px;
	}

	&__paragraph {
		width: 100%;
	}

	&__paragraph,
	&__text,
	&__changelog-text {
		font-size: 16px;
		text-shadow: 1px 1px 2px 1 rgba(0, 0, 0, 0.8);
	}

	&__changelog-text {
		font-size: 16px;
		margin-bottom: 6px;
	}

	&__required-game {
		flow-children: none;
		margin-left: 4px;
		margin-right: 4px;
		tooltip-position: bottom;
		overflow: noclip;

		$this: &;

		&--hidden {
			visibility: collapse;
		}

		&__game-icon {
			width: 32px;
			height: 32px;
			img-shadow: 0 1px 2px black;
		}

		&__warning {
			width: 24px;
			height: 24px;
			align: right bottom;
			img-shadow: 1px 1px 1px 2 rgba(0, 0, 0, 0.6);
			wash-color: #ff2f00;
			transform: translateX(4px) translateY(6px);
			visibility: collapse;

			#{$this}--unmounted & {
				visibility: visible;
			}
		}

		&__tooltip {
			&--left {
				color: #e5e5e5;
			}

			&--right {
				color: white;
				font-weight: medium;
			}
		}
	}
}
