@use '../config' as *;

.playercard {
	$root: &;
	$card-width: 400px;
	$card-margin: 6px;
	$icon-size: 12px;

	flow-children: none;

	&__main {
		flow-children: right;
		height: 100%;
		width: $card-width;
	}

	&__background-image {
		width: 100%;
		height: 100%;
		wash-color: rgba(0, 0, 0, 0.6);

		transition: wash-color 0.15s ease-in-out 0s;

		#{$root}:hover & {
			wash-color: rgba(85, 85, 85, 0.4);
		}
	}

	&__player-avatar {
		margin: $card-margin;
		height: 100%;
		width: height-percentage(100%);
		box-shadow: 0 0 3px rgb(0, 0, 0);
		border-radius: 1px;
		transition: brightness 0.15s ease-in-out 0s;

		#{$root}:hover & {
			brightness: 1.1;
		}
		// border: 1px solid rgba(255, 255, 255, 0.06);
	}

	&__details-panel {
		width: $card-width;
		flow-children: down;
		margin: $card-margin;
		margin-left: 0px;
	}

	&__player-name {
		font-size: 19px;
		max-height: 25px;
	}

	&__units {
		flow-children: right;
	}

	&__units-label {
		font-size: 14px;
		vertical-align: middle;
	}

	&__units-icon {
		margin-right: 3px;
		width: $icon-size;
		height: $icon-size;
		wash-color: $units;
		vertical-align: middle;
	}

	&__xp-level-container {
		flow-children: right;
		vertical-align: bottom;
		height: fill-parent-flow(1);
		width: 100%;
	}

	&__xp-container {
		width: fill-parent-flow(1);
		flow-children: down;
		vertical-align: bottom;
	}

	&__xp-progress-bar {
		margin-top: 4px;
		margin-right: $card-margin;
		height: 8px;
		width: 100%;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	}

	&__xp {
		font-size: 12px;
	}

	&__levelindicator {
		horizontal-align: right;
		vertical-align: bottom;
		box-shadow: 0 0 3px rgba(0, 0, 0, 1);
	}
}
