@use '../config' as *;
@use '../abstract/mixin';
@use 'sass:color';

.split--ahead {
	&,
	& .split__diff,
	& .split__diff-sign,
	& .split__diff-prefix {
		color: $comparison-ahead-gain;
	}

	&.split--loss {
		&,
		& .split__diff,
		& .split__diff-sign,
		& .split__diff-prefix {
			color: $comparison-ahead-loss;
		}
	}
}

.split--behind {
	&,
	& .split__diff,
	& .split__diff-sign,
	& .split__diff-prefix {
		color: $comparison-behind-loss;
	}

	&.split--gain {
		&,
		& .split__diff,
		& .split__diff-sign,
		& .split__diff-prefix {
			color: $comparison-behind-gain;
		}
	}
}

.split--behind.split--loss.split--hud {
	// Darker red for behind+loss looks great here but bad in EOR.
	& .split__diff,
	& .split__diff-sign,
	& .split__diff-prefix {
		color: color.scale($comparison-behind-loss, $lightness: -15%);
	}
}

.split {
	flow-children: right;
	overflow: noclip;

	&__diff,
	&__diff-sign,
	&__diff-prefix {
		.split--first & {
			visibility: collapse;
		}
	}

	&.split--hud {
		& .split__left {
			width: 32px;
			vertical-align: top;
		}

		& .split__right {
			flow-children: down;
		}

		& .split__name {
			font-size: 18px;
			max-height: 24px;
			@include mixin.font-styles($use-header: true, $light-header: true);
			text-shadow-fast: $font-shadow;
			horizontal-align: right;
			vertical-align: top;
			margin-right: 8px;
			margin-top: 1px;
			overflow: squish;
			text-overflow: shrink;
			color: rgb(211, 211, 211);
		}

		& .split__time {
			margin-bottom: -4px;
			horizontal-align: left;
			font-weight: medium;
			font-size: 20px;
		}

		& .split__diff,
		& .split__diff-sign {
			horizontal-align: left;
			font-weight: bold;

			font-size: 24px;
		}

		& .split__diff-container {
			flow-children: down;
			horizontal-align: right;
		}

		& .split__diff-prefix {
			visibility: collapse;
		}

		& .split__diff-sign {
			horizontal-align: right;
		}

		&.split--latest {
			& .split__left {
				margin-top: 2px;
			}

			& .split__name {
				margin-top: 0px;
			}

			& .split__time {
				font-size: 26px;
				margin-bottom: -6px;
			}

			& .split__diff-container {
				margin-top: -2px;
			}

			& .split__diff,
			& .split__diff-sign {
				// margin-top: -6px;
				font-size: 32px;
			}
		}

		&.split--first {
			& .split__diff-container {
				visibility: collapse;
			}

			& .split__diff,
			& .split__diff-sign {
				visibility: collapse;
			}
		}
	}

	&.split--eor {
		height: 44px;

		&.split--first {
			height: 36px;

			& .split__diff-sign,
			& .split__diff-prefix {
				visibility: collapse;
			}
		}

		background-color: $comparison-neutral-background;

		&.split--ahead {
			&.split--gain {
				background-color: $comparison-ahead-gain-background;
			}

			&.split--loss {
				background-color: $comparison-ahead-loss-background;
			}
		}

		&.split--behind {
			&.split--gain {
				background-color: $comparison-behind-gain-background;
			}

			&.split--loss {
				background-color: $comparison-behind-loss-background;
			}
		}

		& .split__left {
			width: fit-children;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
			padding-right: 7px;
			padding-left: 8px;
			border-right: 1px solid rgba(0, 0, 0, 0.5);
			margin-right: 0px;
		}

		& .split__right {
			flow-children: down;
			padding: 0 8px;
			vertical-align: center;
		}

		& .split__name {
			@include mixin.font-styles($use-header: true);
			font-size: 20px;
			text-align: left;
			vertical-align: center;
		}

		& .split__time {
			margin-right: 0px;
			font-size: 16px;
			vertical-align: center;
			font-weight: medium;
			text-shadow: 0px 1px 2px 1 rgba(0, 0, 0, 1);
		}

		& .split__diff,
		& .split__diff-prefix {
			font-weight: normal;
			text-shadow: 0px 1px 2px 1 rgba(0, 0, 0, 1);
			margin: 0;
			font-size: 14px;
		}

		& .split__diff-container {
			visibility: collapse;
		}

		& .split__diff-prefix {
			visibility: visible;
		}
	}
}
