TrackSelector {
	width: 100%;
	height: fit-children;
}

#TrackSelectorContainer {
	height: fit-children;
	flow-children: down;
}

#TracksContainer {
	width: 100%;
	border-radius: 2px;
	border: 1px solid rgb(20, 20, 20, 1);
	margin-bottom: 16px;
	flow-children: down;
}

.track-panel {
	width: 100%;
	height: 40px;
	flow-children: right;
	background-color: rgba(0, 0, 0, 0.7);

	&--alt-color {
		background-color: rgba(10, 10, 10, 0.2);
	}

	&:hover {
		background-color: rgba(100, 100, 100, 0.5);
	}

	&:selected {
		background-color: rgba(150, 150, 150, 0.7);
	}

	&__track {
		height: 100%;
		width: 20%;
		margin-left: 8px;
		Label {
			horizontal-align: left;
			text-overflow: shrink;
		}
	}

	&__tier {
		height: 100%;
		width: 6%;
		Label {
			text-overflow: shrink;
		}
	}

	&__time {
		height: 100%;
		width: 20%;
		Label {
			font-weight: normal;
			text-overflow: shrink;
		}
	}

	&__rank {
		height: 100%;
		width: 20%;
		Label {
			font-weight: normal;
			text-overflow: shrink;
		}
	}

	&__group {
		height: 100%;
		width: 15%;
		margin-left: 32px;
	}

	&__group-pill {
		height: 80%;
		width: 83%;

		horizontal-align: center;
		vertical-align: center;
		border-radius: 6px;
		border-width: 3px;
		border-style: solid;
		align: center center;
		Label {
			font-weight: normal;
			text-overflow: shrink;
		}
	}
}

.track-selector-label {
	font-family: 'Bebas Neue Momentum';
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	align: center center;
}
