.content-navbar {
	width: 100%;
	background-color: rgba(68, 68, 68, 0.1);
	margin-top: 10px;
}

.settings-header {
	flow-children: right;
}

.subheader {
	margin-top: 16px;
}

.settings-tab {
	width: 100%;
	height: 100%;
	flow-children: down;
	
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.settings-tab.Active {
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.settings-group {
	padding-top: 16px;
	width: 70%;
	flow-children: down;
	horizontal-align: middle;
}

.settings-group.thin { 
	width: 60%;
}

.settings-group > Label {
	horizontal-align: middle;
	margin: 10px 0px;
}

.settings-scroll-container {
	height: 100%;
	width: 100%;
	overflow: squish scroll;
	flow-children: down;
}

.settings-search {
	flow-children: right; 
	vertical-align: middle;
	margin-left: 20px;
	width: 420px;
	height: 40px;

	background-color: rgba(255, 255, 255, 0.04);
	border-radius: 4px;
	box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);

	transition-property: background-color, border;
	transition-duration: 0.2s;
}

.settings-search:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.settings-search > Image {
	width: 32px;
	height: 32px;
	opacity: 0.8;
	vertical-align: middle;
	margin: 0 6px;
}

.settings-search > TextEntry {
	width: 70%;

	color:  rgba(255, 255, 255, 1);
	border: 0px;
	box-shadow: none;
	
	/* Aligning the placeholder text with the textentry is weird, force it down a little to avoid clipping */
	padding: 10px 2px;
	height: 42px;
}

.settings-search > TextEntry > #PlaceholderText {
	color: rgba(255, 255, 255, 0.4);
	transition-property: color;
	transition-duration: 0.2s;
}

.settings-search:hover > TextEntry > #PlaceholderText {
	color: rgba(255, 255, 255, 0.8);
}

.settings-search > Button {
	width: 24px;
	height: 24px;
	margin-right: 8px;

	horizontal-align: right;
	vertical-align: middle;
	
	background-color: none;
	border-radius: 0;
}

.settings-search > Button > Image {
	vertical-align: middle;
	opacity: 0.25;

	transition: opacity 0.2s ease-in-out 0s;
}

.settings-search:hover > Button > Image {
	opacity: 0.5;
}

.settings-search > Button > Image:hover {
	opacity: 1.0;
}

#SearchResultsContainer
{
	width: 100%;
	flow-children: down;
}

.settings-search-result
{ 
	horizontal-align: left;
	width: 100%;
	height: 48px;
	margin: 0px 32px;

	transition-property: background-color, border;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.settings-search-result Label
{
	padding-left: 12px;
	transform: translateX(0);
	transition: transform 0.2s ease-in-out 0s;
}

.settings-search-result:hover
{
	background-color: rgba(0, 0, 0, 0.5);
	border-left: 2px solid rgba(255, 255, 255, 0.6);
}

.settings-search-result:hover Label
{
	transform: translateX(5px);
}

.settings-horizontal-separator
{
	horizontal-align: center;
	width: 75%;
	height: 1px;
	opacity: .25;
	background-color: #707070;
	margin: 8px 0px 20px 0px;
}

.settings-dropdown {
	width: 100%;
	flow-children: right;
	height: 48px;
	vertical-align: middle;
}

.settings-dropdown > Label {
	width: 30%;
	horizontal-align: right;
}

.settings-tooltip {
	width: 100%;
	tooltip-position: bottom;
}

.tab-group {
	flow-children: right;
}

.tab-group > RadioButton {
	background-color: #ffffff00;
	text-align: center;
}

.tab-group > .horizontal-align-right > Button {
	background-color: #ffffff00;
	text-align: center;
	border-radius: 0px;
}

.tab-group > RadioButton > Label,
.tab-group > .horizontal-align-right > Button > Label {
	font-family: "Bebas Neue";
	font-size: 20px;
	text-shadow: 0 0.5px 1.5px rgba(0, 0, 0, 0.45);
	vertical-align: middle;
	horizontal-align: center;
	margin: 0px;
	padding: 4px 10px;
	color: rgb(210, 210, 210);
}

.tab-group > RadioButton:hover,
.tab-group > .horizontal-align-right > Button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.tab-group > .horizontal-align-right > Button:disabled > Label {
	color: rgb(177, 177, 177);
}
.tab-group > RadioButton:hover > Label,
.tab-group > .horizontal-align-right > Button:hover > Label {
	color: rgb(255, 255, 255);
}
.tab-group > .horizontal-align-right > Button:hover:disabled {
	background-color: rgba(0, 0, 0, 0);
}
.tab-group > .horizontal-align-right > Button:hover:disabled > Label {
	color: rgb(130,130,130);
}

.tab-group > RadioButton:selected {
	background-color: rgba(255, 255, 255, 0.3);
}

.tab-group > RadioButton:selected > Label {
	color: rgb(255, 255, 255);
}

.tab-group .RadioBox {
	visibility: collapse;
}

.Highlight
{
	animation-name: settings-highlight;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'settings-highlight'
{
	0%
	{
		background-color: rgba(255, 255, 255, 0.3) ;
	}

	100%
	{
		background-color: rgba(255, 255, 255, 0);
	}
}

.even-row {
	background-color: rgba(0, 0, 0, 0.2);
}

.odd-row {
	background-color: none;
}
#GhostModelPreview {
	width: 300px;
	height: 300px;
	margin-right: 16px;
	background-color: rgba(255, 255, 255, 0.03);
}