.content-navbar {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 10px 0px;
	margin-top: 10px;
}

.subheader {
	margin-top: 16px;
}
.settings-tab {
	width: 100%;
	height: 100%;
	flow-children: down;
	
	opacity: 0.0;

	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.settings-tab.Active {
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.settings-group {
	width: 70%;
	flow-children: down;
	horizontal-align: middle;
}

.settings-group > Label {
	horizontal-align: middle;
	margin: 10px 0px;
}

.settings-scroll-container {
	height: 100%;
	width: 100%;
	overflow: squish scroll;
	flow-children: down;
}

.settings-horizontal-separator
{
	horizontal-align: center;
	width: 75%;
	height: 1px;
	opacity: .25;
	background-color: #707070;
	margin: 20px 0px;
}

.settings-dropdown {
	width: 100%;
	flow-children: right;
	height: 48px;
	vertical-align: middle;
}

.settings-dropdown > Label {
	width: 30%;
	horizontal-align: right;
}

.settings-tooltip {
	width: 100%;
	tooltip-position: bottom;
}

.tab-group {
	flow-children: right;
}

.tab-group > RadioButton {
	background-color: #ffffff00;
	text-align: center;
}

.tab-group > .horizontal-align-right > Button {
	background-color: #ffffff00;
	text-align: center;
	border-radius: 0px;
}

.tab-group > RadioButton > Label,
.tab-group > .horizontal-align-right > Button > Label {
	font-family: "Bebas Neue";
	font-size: 20px;
	text-shadow: 0 0.5px 1.5px rgba(0, 0, 0, 0.45);
	vertical-align: middle;
	horizontal-align: center;
	margin: 0px;
	padding: 4px 10px;
	color: #828282;
}

.tab-group > RadioButton:hover,
.tab-group > .horizontal-align-right > Button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.tab-group > RadioButton:hover > Label,
.tab-group > .horizontal-align-right > Button:hover > Label {
	color: #ffffff;
}
.tab-group > .horizontal-align-right > Button:hover:disabled {
	background-color: #ffffff00;
}
.tab-group > .horizontal-align-right > Button:hover:disabled > Label {
	color: #828282;
}

.tab-group > RadioButton:selected {
	background-color: rgba(255, 255, 255, 0.3);
}

.tab-group > RadioButton:selected > Label {
	color: #ffffff;
}

.tab-group .RadioBox {
	visibility: collapse;
}

.Highlight
{
	animation-name: settings-highlight;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

@keyframes 'settings-highlight'
{
	0%
	{
		background-color: rgba(255, 255, 255, 0.10) ;
	}

	100%
	{
		background-color: rgba(255, 255, 255, 0.000);
	}
}

.even-row {
	background-color: rgba(0, 0, 0, 0.2);
}

.odd-row {
	background-color: none;
}
#GhostModelPreview {
	width: 300px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.03);
}