ChaosSettingsToggle {
	height: 48px;
	flow-children: right;
	padding: 0 4px 0 12px;
	width: 100%;
	vertical-align: middle;
}

ChaosSettingsToggle #TitleContainer {
	vertical-align: middle;
	width: 35%;
	padding-right: 50px;
}

ChaosSettingsToggle #Title {
	vertical-align: middle;
	horizontal-align: left;
}

ChaosSettingsToggle #Toggle {
	vertical-align: middle;
	horizontal-align: right;
}
