@use '../config' as *;

@mixin font-styles($use-header: false, $light-header: false) {
	@if $use-header {
		@if $light-header {
			font-family: $font-header-light;
		}

		@else {
			font-family: $font-header
		}

		text-shadow: $font-header-shadow;
		letter-spacing: $font-header-spacing;
	}

	@else {
		font-family: $font;
		text-shadow: $font-shadow;
		letter-spacing: $font-spacing;
	}

	color: $font-default-color;
	font-style: normal;
	font-weight: normal;
}
