@use '../../abstract/mixin';
@use '../../config' as *;
@use 'sass:map';
@use 'sass:color';

%panel-card {
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid rgb(15, 15, 15);
	border-radius: 2px;
}

$image-shadow: 4px 4px 64px black;

.gallery {
	flow-children: none;

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	background-color: none;

	&__h2 {
		@include mixin.font-header();
		font-weight: bold;
		color: #eee;
		font-size: 24px;
	}

	&__container {
		width: 100%;
		height: 100%;
		flow-children: down;
	}

	&__top {
		width: 100%;
		height: 10%;
		Label {
			align: center center;
		}
	}

	&__bottom {
		height: 90%;
		width: 100%;
		flow-children: right;
	}

	&__bottom-left {
		width: fit-children;
		height: 100%;
		padding: 16px;
		flow-children: down;
		horizontal-align: left;
	}

	&__bottom-right {
		width: fill-parent-flow(1);
		height: 100%;
		padding-top: 16px;
		padding-right: 16px;
		flow-children: down;
	}

	&__image-container {
		// width = (main-image width-to-height ratio %) × (main-image height %)
		// fit-children doesn't work here, could be calculated in js, this works for now
		width: height-percentage(151.1111%);
		flow-children: down;
	}

	&__main-image {
		width: height-percentage(177.77777777778%);
		height: 85%;
		border-radius: 4px;
		box-shadow: $image-shadow;
	}

	&__thumbnails {
		flow-children: right;
		horizontal-align: center;
		height: fill-parent-flow(1);
		margin-top: 16px;
	}

	&__thumbnail {
		width: 200px;
		height: 135px;
		border-radius: 4px;
		box-shadow: $image-shadow;
		brightness: 0.6;
		transition-property: brightness;
		transition-duration: 0.15s;
		transition-timing-function: ease-in-out;

		&:hover {
			brightness: 1;
		}

		&:not(&--first) {
			margin-left: 16px;
		}
	}

	&__credits-container {
		@extend %panel-card;
		width: 100%;
		flow-children: down;
		padding-top: 16px;
		padding-left: 16px;
	}

	&__credits-type-row {
		flow-children: down;
		margin-bottom: 16px;
		width: 100%;
	}

	&__credits-grid {
		flow-children: down;
		width: 100%;
		margin-top: 4px;
	}

	&__credits-row {
		flow-children: right;
		width: 100%;
		margin-bottom: 4px;
	}

	&__credits-credit {
		flow-children: right;
		width: 50%;
		vertical-align: center;
		horizontal-align: left;
	}

	&__credits-avatar {
		width: 24px;
		height: 24px;
		margin-right: 6px;
	}

	&__credits-placeholder {
		width: 24px;
		height: 24px;
		margin-right: 6px;
		opacity: 0.6;
	}

	&__credits-text {
		vertical-align: center;
	}

	&__credits-name {
		transition: color 0s ease-in-out 0s;
		color: gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#cccccc));

		&--steam {
			color: $light-blue;
			font-style: normal;

			transition: color 0.1s ease-in-out 0s;

			&:hover {
				color: color.scale($light-blue, $lightness: 50%);
			}
		}
	}

	&__description-container {
		@extend %panel-card;
		width: 100%;
		max-height: 365px;
		padding: 16px;
		overflow: squish scroll;
	}

	&__background {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		transition: background-color 0.2s ease-in-out 0s;

		&:hover {
			background-color: rgba(0, 0, 0, 0.6);
		}
	}

	&__close-button {
		width: 64px;
		height: 64px;
		margin-top: 16px;
		margin-right: 16px;
		align: right top;
		border-radius: 50%;
		padding: 16px;
		img-shadow: 0 1px 4px black;
		wash-color: #bbb;

		transition-property: background-color, wash-color;
		transition-timing-function: ease-out;
		transition-duration: 0.1s;

		&:hover {
			background-color: rgba(255, 255, 255, 0.05);
			wash-color: #eee;
		}
	}
}
