@use '../../config' as *;
@use '../../abstract/mixin';
@use '../../core/animations';
@use 'sass:map';
@use 'sass:color';

.mapselector {
	$root: &;

	flow-children: none;
	width: 100%;
	height: 100%;

	&__left-container {
		horizontal-align: left;
		// Warning: using percentage widths here cause ugly raster scaling
		width: 820px;
		height: 100%;
		margin-right: 8px;
	}

	&__left {
		horizontal-align: middle;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
	}

	&__left-wrapper {
		flow-children: down;
		height: 100%;
		width: 100%;
		border: 1px solid rgba(255, 255, 255, 0.01);
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
	}

	&__right {
		flow-children: down;
		horizontal-align: right;
		width: 960px;
		height: fill-parent-flow(1);
	}

	&__maps,
	&__playlists {
		flow-children: down;
		padding: 16px;
	}

	&__maps {
		visibility: visible;
		padding-right: 8px;
		width: 100%;
	}

	&__playlists {
		visibility: collapse;
	}

	&__category-contents {
		width: 100%;

		&--playlists {
			#{$root}__maps {
				visibility: collapse;
			}
			#{$root}__playlists {
				visibility: visible;
			}
		}
	}

	&__emptywarning {
		flow-children: down;
		width: 100%;
		height: 100%;
		horizontal-align: center;
		padding: 50px 100px 50px 100px;
		margin-right: 8px;
		background-color: rgba(0, 0, 0, 0.3);

		&--hidden {
			visibility: collapse;
		}
	}

	// Elements are MapEntrys, in mapentry.scss
	&__list {
		flow-children: down;
		// Important note: always ensure a DelayLoadList has a non-zero height, if having 0 items results in 0 height,
		// it'll never repaint itself when items are added.
		height: 100%;
		padding-right: 16px;
		width: 100%;
		overflow: squish scroll;

		& > VerticalScrollBar .ScrollThumb {
			opacity: 1;
		}
	}
}

.mapselector-category-tabs {
	width: 100%;
	flow-children: right;

	&__tab {
		width: fill-parent-flow(1);
		padding: 8px 0;
		transition: background-color 0.1s ease-in-out 0s;

		&:not(:selected) {
			background-color: rgba(0, 0, 0, 0.4);
			&:hover {
				background-color: rgba(0, 0, 0, 0.18);
			}
		}
	}

	&__image {
		vertical-align: center;
		width: 24px;
		height: 24px;
		margin-right: 4px;
	}

	&__text {
		font-size: 22px;
	}
}

.mapselector-header {
	flow-children: right;
	width: 100%;
	padding-right: 8px;

	&__tabs {
		flow-children: right;
		horizontal-align: right;
		vertical-align: bottom;
		border: 0 none;
		border-radius: 4px;
		margin-right: 8px;
	}

	&__tab {
		padding: 2px 8px;
		border-bottom: 1px solid $tab-lower-border-color;

		&:hover {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}

		&:selected {
			border-bottom: 1px solid rgba(255, 255, 255, 0.8);
		}
	}

	&__search {
		width: fill-parent-flow(1);
		margin-right: 6px;
	}
}

.mapselector-filters {
	$this: &;

	flow-children: down;
	width: 100%;
	padding-right: 8px;
	margin-top: 2px;
	margin-bottom: 8px;

	&__gamemode-button {
		&:selected {
			sound: 'UIPanorama.ModeSelect';
		}
		// IMPORTANT: `button` class gives vertical-align: center which is buggy with flow wrapping!!
		vertical-align: top;
		margin-bottom: 4px;
		margin-right: 4px;
	}

	&__text {
		font-size: 20px;
	}

	&__row {
		flow-children: right;
		width: 100%;
	}

	&__gamemodes {
		margin-top: 4px;
		margin-bottom: 4px;
		flow-children: right-wrap;

		& > #HorizontalScrollBar {
			height: 2px;
			& > #ScrollThumb {
				opacity: 1;
			}
		}
	}

	&__tiers {
		width: fill-parent-flow(1);
		max-width: 360px;
		flow-children: right;
		margin-right: 24px;
		margin-top: 4px;
	}

	&__tier-label {
		@include mixin.font-styles($use-header: true);
		font-size: 22px;
		margin-right: 8px;
		vertical-align: center;
	}

	&__nstatebutton {
		@include mixin.nstate-button-state('include', 1);
		@include mixin.nstate-button-state('exclude', 2);
	}
}

// TODO: Getting this to align well without magic numbers is extremely difficult, but spacing ends up difference on
// different resolutions. The fill-parent-flow gaps seem to be causing some kind of rounding which differs per res.
$notch-width: 10px;
.mapselector-tier-slider {
	flow-children: none;
	width: 100%;

	&__numbers {
		flow-children: right;
		width: 100%;
		padding-top: 0;
		overflow: noclip;
	}

	&__number {
		@include mixin.font-styles($use-header: false);
		font-weight: bold;
		font-size: 12px;
		text-align: center;
		text-shadow: 0 1px 2px 1 rgba(0, 0, 0, 1);
		width: $notch-width;
		height: 16px;

		&--10 {
			transform: translateX(-4px);
			width: $notch-width + 4px;
			margin-right: -4px;
			text-overflow: noclip;
			overflow: noclip;
		}
	}

	&__gap {
		width: fill-parent-flow(1);
		height: 100%;
	}

	&__slider {
		width: 100%;
		margin-top: 16px;
		padding: 0;

		#SliderTrack,
		#SliderTrackProgress {
			height: 4px;
		}

		#SliderThumb,
		#SliderThumb2 {
			border-radius: 2px;
			width: $notch-width;
			height: $notch-width;
		}
	}
}

.mapselector-leaderboards {
	$root: &;

	width: 100%;
	flow-children: none;

	&__list {
		width: 100%;
		height: fit-children;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 16px;
	}

	&__list-wrapper {
		width: 100%;
		height: fit-children;
		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);

		visibility: collapse;

		#{$root}--open & {
			visibility: visible;
		}
	}

	&__open-button {
		horizontal-align: right;
		height: 36px;
		visibility: visible;

		#{$root}--open & {
			visibility: collapse;
		}
	}
}

.mapselector-map-info {
	$root: &;
	flow-children: down;
	vertical-align: bottom;
	width: 100%;

	$content-height: 290px;

	&__top {
		flow-children: right;
		width: 100%;
		vertical-align: bottom;

		&-left {
			flow-children: down;
			width: fill-parent-flow(1);
			margin-right: 8px;
			vertical-align: bottom;
		}

		&-right {
			flow-children: down;
			width: fit-children;
			horizontal-align: right;
			vertical-align: bottom;
		}
	}

	&__action {
		flow-children: none;

		width: 100%;

		height: 72px;
		max-height: 40px;
	}

	&__content {
		flow-children: right;
		height: $content-height;
		width: 100%;
		margin-top: 8px;

		&-left {
			width: fill-parent-flow(1);
			margin-right: 8px;
		}

		&-right {
			width: 300px;
			horizontal-align: left;
		}
	}

	&__favourite {
		width: 40px;
		height: 40px;
		margin: 0 6px;
	}

	&__leaderboard-button {
		box-shadow: fill 0 0 1px 0 rgba(0, 0, 0, 0.8);
	}

	&__big-button {
		width: fill-parent-flow(1);
		height: 36px;

		&__icon {
			padding: 0;
			margin: 0;
			width: 20px;
			height: 20px;
		}

		&__text {
			font-size: 18px;
			margin: 0;
			margin-left: 4px;
			margin-right: 1px;
			vertical-align: center;
			max-width: 60px;
			max-height: 30px;
			overflow: squish;
			text-overflow: shrink;
		}
	}

	&__description {
		height: 100%;
		@include mixin.font-styles($use-header: false);
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__description-scroll {
		flow-children: down;
		overflow: squish scroll;
		padding: 12px;
		width: 100%;

		& > VerticalScrollBar {
			width: 4px;
			opacity: 0.4;
		}
	}

	&__description-main-elements {
		flow-children: down;
		// For some reason (maybe a bug?) when a panel has overflow: scroll its children
		// can't be positioned with align. This is a hack to force the See More button to the bottom.
		width: 100%;
		height: fit-children;
		min-height: 210px;
	}

	&__status,
	&__changelog {
		width: 100%;
		flow-children: down;
		visibility: collapse;

		#{$root}--submission & {
			visibility: visible;
		}
	}

	&__status-icon {
		wash-color: #fafafa;
		width: 16px;
		height: 16px;
	}

	&__wrapper {
		flow-children: down;
		width: 100%;
		height: 100%;
		padding: 12px;

		&--unpadded {
			padding: 0;
		}

		box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
	}

	&__h1,
	&__h2,
	&__h3 {
		@include mixin.font-styles($use-header: true);
		margin-bottom: 4px;
		color: #eee;
	}

	&__h1 {
		font-size: 22px;
	}

	&__h2 {
		font-size: 20px;
	}

	&__h3 {
		font-size: 18px;
	}

	&__paragraph {
		width: 100%;
	}

	&__paragraph,
	&__text,
	&__changelog-text {
		font-size: 16px;
		text-shadow: 1px 1px 2px 1 rgba(0, 0, 0, 0.8);
	}

	&__changelog-text {
		font-size: 16px;
	}
}


.mapselector-credits {
	flow-children: down;
	width: 100%;
	margin-top: 12px;

	&__row {
		flow-children: right; // right-wrap SUCKS
	}

	&__col {
		flow-children: down;
		min-width: 240px;
		margin-bottom: 8px;
	}

	&__credit {
		flow-children: right;
		margin-bottom: 4px;
	}

	&__text {
		@include mixin.font-styles($use-header: false);
		font-size: 16px;
		font-weight: medium;
		text-overflow: clip;
		vertical-align: top;
	}

	&__name {
		transition: color 0s ease-in-out 0s;
		color: #eee;

		&--steam {
			color: $light-blue;
			font-style: normal;

			transition: color 0.1s ease-in-out 0s;
			&:hover {
				color: color.scale($light-blue, $lightness: 50%);
			}
		}
	}

	&__avatar {
		width: 18px;
		height: 18px;
		border-radius: 1px;
		margin-right: 6px;
		vertical-align: center;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.8);
	}

	&__placeholder {
		width: 18px;
		padding: 1px;
		height: 18px;
		margin-right: 6px;
		vertical-align: center;
	}

	& > HorizontalScrollBar {
		.ScrollThumb {
			transform: translateY(6px);
			max-height: 2px;
		}
	}
}

.mapselector-stats {
	height: fill-parent-flow(1);
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);

	&__container {
		width: 100%;
		height: 100%;
		flow-children: right;
	}

	&__column {
		flow-children: down;
		width: fill-parent-flow(1);
		height: 100%;

		margin-left: 4px;

		&--right {
			margin-left: 12px + 4px;
		}
	}

	&__gap {
		vertical-align: center;
		width: 1px;
		height: 80%;
	}
}

.mapselector-stat {
	flow-children: right;
	height: fill-parent-flow(1);
	width: 100%;
	margin: 6px 0;

	&__icon {
		padding: 2px;
		height: 100%;
		width: height-percentage(100%);
		img-shadow: 0 0 3px 1 rgba(0, 0, 0, 1);
	}

	&__text {
		@include mixin.font-styles($use-header: true, $light-header: true);
		font-size: 22px;
		text-overflow: shrink;
		margin-left: 6px;
		text-shadow: 0 1px 3px 2 rgba(0, 0, 0, 0.8);

		transition: opacity 0.1s ease-out 0s;
		opacity: 1;
		.mapselector-stats--loading & {
			opacity: 0;
		}
	}

	&__spinner {
		padding: 2px;
		height: 100%;
		width: height-percentage(100%);
		img-shadow: 0 0 3px 1 rgba(0, 0, 0, 1);
		@include animations.spin-animation;

		transition: opacity 0.1s ease-out 0s;
		opacity: 0;
		.mapselector-stats--loading & {
			opacity: 1;
		}
	}
}

.mapselector-action-button {
	flow-children: none;

	width: 100%;
	height: 100%;

	@include mixin.button-gradient($color: 'blue');

	transition: background-color 0.1s ease-in-out 0s;

	.action-play {
		visibility: collapse;
	}
	.action-download {
		visibility: visible;
	}

	&.playable {
		@include mixin.button-gradient($color: 'green');

		.action-download {
			visibility: collapse;
		}
		.action-play {
			visibility: visible;
		}
	}

	&__typecontainer {
		flow-children: right;
		height: 100%;
		horizontal-align: center;
	}

	&__icon {
		margin-left: 0;
		padding: 6px;
	}

	&__text {
		vertical-align: center;
		font-size: 24px;
		margin-left: 0px;
		margin-right: 10px;
		padding-bottom: 1px;
	}
}
