/* styles that most popup dialogs should use */

.PopupPanel
{
	background-color: rgba(44, 44, 44, 1);

	min-width: 512px;
	max-width: 720px;

	vertical-align: middle;
	horizontal-align: center;
	opacity: 1.0;
	box-shadow: shadowOffset;
	padding-bottom: 16px;
	border: 1px solid rgb(65, 65, 65);
	brightness: 1;


	transition-property: transform, pre-transform-scale2d, opacity, height, width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	flow-children: down;
}

.PopupPanel.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";

	transition-property: transform, pre-transform-scale2d, opacity, height, width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

/* Setting some global size styles */
.PopupPanel.Dark
{
	background-color: #1b1b1b;
}

.PopupTitle
{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 28px;
	padding-left: 28px;
	font-size: 28px;
	font-weight: bold;
	color: rgb(151, 151, 151);
	font-family: 'Bebas Neue';	
	width: 100%;
	margin-bottom: 15px;
	horizontal-align: left;
	background-color:#00000040;
}

.PopupMessage
{
	font-size: 18px;
	horizontal-align: left;
	vertical-align: center;
	max-width: 100%;
	text-align: left;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 28px;
	padding-left: 28px;
}

.PopupButtonRow
{
	flow-children: right;
	horizontal-align: right;
	margin: 25px 32px 0px 32px;
}

.PopupDimVerticalButtonContainer
{
	width: fit-children;
	height: fit-children;

	flow-children: down;
	horizontal-align: center;

	background-color: #00000020;
	padding-bottom: 0px;

	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;

	margin: 0px 32px 0px 32px;
}

.PopupPanel.NotificationYellow .PopupTitle
{
	color: black;
	background-color:#E1C111;
}

.PopupPanel.NotificationYellow #ButtonContainer Label
{
	color: #E1C111;
}

.PopupPanel.NotificationBlue .PopupTitle,
{
	color: black;
	background-color:#417ca9;
}

.PopupPanel.NotificationBlue #ButtonContainer Label
{
	color: #8BB2D5;
}

.popupbuttonrow__status__loading
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

.popupbuttonrow__status__loading Label,
.popupbuttonrow__status__loading .Spinner
{
	margin: 10px;
}
