@use '../../abstract/mixin';

.settings-speedometers {
	flow-children: down;
	width: 100%;
}

.settings-speedometer-buttons {
	width: 100%;
	horizontal-align: right;
	vertical-align: center;
	flow-children: left;
}

.settings-speedometer {
	flow-children: down;
	width: 100%;

	&__header {
		flow-children: left;
		width: 100%;
		margin-top: 10px;
	}

	&__detail {
		flow-children: down;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.01);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);
		padding: 10px 0 10px 0;

		&--hidden {
			// TODO: use a transition!
			visibility: collapse;
		}
	}

	&__deletebutton {
		height: 32px;
		margin-left: 10px;
	}
	&__savebutton {
		height: 32px;
		margin-left: 10px;
	}
	&__discardbutton {
		height: 32px;
		margin-left: 10px;
	}
	&__togglebutton {
		flow-children: right;
		width: 100%;
		height: 32px;
	}
	&__movedownbutton {
		height: 32px;
		margin-left: 4px;
	}
	&__moveupbutton {
		height: 32px;
		margin-left: 10px;
	}

	&__settingcontainer {
		flow-children: right;
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;

		&--hidden {
			// TODO: use a transition!
			visibility: collapse;
		}
	}

	&__settinglabel {
		@include mixin.font-styles($use-header: false);
		horizontal-align: left;
		vertical-align: center;
		font-size: 18px;
		overflow: squish;
		text-overflow: shrink;
	}
}

.settings-speedometer-rangecolorprofs {
	flow-children: down;
	width: 100%;
}

.settings-speedometer-rangecolor {
	flow-children: down;
	width: 100%;

	&__header {
		flow-children: left;
		width: 100%;
		margin-top: 10px;
	}

	&__togglebutton {
		flow-children: right;
		width: 100%;
		height: 32px;
	}

	&__name {
		horizontal-align: left;
	}

	&__deletebutton {
		height: 32px;
		margin-left: 10px;
	}

	&__editnamebutton {
		height: 32px;
		margin-left: 10px;
	}

	&__discardbutton {
		height: 32px;
		margin-left: 10px;
	}
	&__savebutton {
		height: 32px;
		margin-left: 10px;
	}

	&__displayscont {
		flow-children: down;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.01);
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);
		padding: 10px 0 10px 0;

		&--hidden {
			// TODO: use a transition!
			visibility: collapse;
		}
	}

	&__displays {
		flow-children: down;
		width: 100%;
		margin-bottom: 10px;
	}

	&__addbutton {
		width: 75%;
		horizontal-align: center;
		height: 32px;
	}
}

.settings-speedometer-rangecolordisp {
	flow-children: left;
	width: 100%;

	&__deletebutton {
		margin-right: 10px;
		height: 32px;
	}
}
