.chat-container {
	width: 100%;
	height: 100%;
}

.chat-entry {

}

#ChatHistory {
	height: fill-parent-flow(1.0);
	overflow: squish scroll;
	width: 100%;
	background-color: rgba(0,0,0,0.95);
	margin-bottom: 8px;
	border-radius: 4px;
	padding: 8px 8px 8px 8px;
}

#ChatInput {
	vertical-align: bottom;
	horizontal-align: left;
	width: fill-parent-flow(1.0);
	background-color: rgba(0,0,0,0.95);
	margin-right: 4px;
}

#ChatMemberTypingLabel {
	margin-top: 8px;
	margin-left: 4px;
}

.chat-container__button {
	height: 100%;
	margin-left: 4px;
}

.lobby-chat-message__cont {
	flow-children: right;
}
.lobby-chat-message__spec-icon {
	vertical-align: center;
}