#TooltipManager, 
#ContextMenuManager, 
#PopupManager,
.MainMenuRootPanel {
	width: 100%;
	height: 100%;
}

#MainMenuLogo {
	width: 400px;
	margin: 10px 10px;
	vertical-align: middle;
}

#MainMenuBlur {
	width: 100%;
	height: 100%;
	blur: fastgaussian( 4, 4, 3 );
}

.VerticalDivider {
	background-color: #ffffff33;
}

.mainmenu-container {
	width: 100%;
	height: 100%;
}

.mainmenu-nav-list {
	width: 100%;
	height: 100px;
	background-color: rgba(68, 68, 68, 0.7);
	flow-children: right;
}

.mainmenu-right-nav-list {
	height: 100%;
	width: 50px;
	background-color: rgba(68, 68, 68, 0.7);
	flow-children: down;
	horizontal-align: right;
}

.mainmenu-nav-container {
	height: 100%;
	flow-children: right;
}

#HomeButton {
	height: 100%;
	background-color: #ffffff00;
	transition: background-color 0.1s ease-in-out 0s;
}

#HomeButton:hover {
	background-color: #ffffff26;
}

#HomeButton .RadioBox {
	visibility: collapse;
}

.mainmenu-nav-item {
	height: 100%;
	vertical-align: middle;
	background-color: #ffffff00;
	padding: 25px 25px;
	transition: background-color 0.1s ease-in-out 0s;
}

.mainmenu-nav-item:hover {
	background-color: #ffffff26;
}

.mainmenu-nav-item:selected {
	background-color: #ffffff26;
}

.mainmenu-nav-item > Image {
	height: 100%;
	width: height-percentage( 100% );
	vertical-align: middle;
	opacity: 0.51;
	transition: opacity 0.1s ease-in-out 0s;
}

.mainmenu-nav-item:hover > Image {
	opacity: 1.0;
}

.mainmenu-nav-item:selected > Image {
	opacity: 1.0;
}

.mainmenu-nav-item .RadioBox {
	visibility: collapse;
}

.mainmenu-right-nav-item {
	width: 100%;
	height: width-percentage( 100% );
	background-color: #ffffff00;
	padding: 12px 12px;
	transition: background-color 0.1s ease-in-out 0s;
}

.mainmenu-right-nav-item .RadioBox {
	visibility: collapse;
}

.mainmenu-right-nav-item:hover {
	background-color: #ffffff26;
}

.mainmenu-right-nav-item > Image {
	width: 100%;
	height: width-percentage( 100% );
	vertical-align: middle;
	opacity: 0.51;
	transition: opacity 0.1s ease-in-out 0s;
}

.mainmenu-right-nav-item:hover > Image {
	opacity: 1.0;
}

#SliderButton {
	height: fill-parent-flow( 1.0 );
}

#HomeContent {
	width: 45%;
	height: 100%;

	transition-property: opacity;
	transition-duration: .25s;
	transition-timing-function: linear;
}

#NewsPanel {
	width: 100%;
	height: 50%;
}

.mainmenu-content {
	width: fill-parent-flow(1.0);
	height: 100%;
	opacity: 1.0;
}

.mainmenu-content--hidden {
	opacity: 0.0;
}

#MainMenuContentBlur {
	background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
	visibility: collapse;
}

.mainmenu-content__container {
	padding: 30px 100px;
	flow-children: down;
	width: 100%;
	height: 100%;
}

.content-navbar {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.05);
}

.content-navbar__title {
	padding: 10px 0px;
}

.content-navbar__tabs {
	flow-children: right;
}

.MainMenuRootPanel {
}

.MainMenuRootPanel--PauseMenuMode {
}

/*----------------------- MainMenuModeOnly class ---------------------------*/
.MainMenuModeOnly {
	visibility: visible;
}

.MainMenuRootPanel--PauseMenuMode .MainMenuModeOnly, {
	visibility: collapse;
}

/*---------------------- PauseMenuModeOnly class --------------------------*/
.PauseMenuModeOnly {
	visibility: collapse;
}

.MainMenuRootPanel--PauseMenuMode .PauseMenuModeOnly {
	visibility: visible;
}