.news-title {
	font-size: 20px;
	font-weight: bold;
}

.news-description {
	height: 180px;
	text-overflow: ellipsis;
	font-size: 14px;
}

#NewsContainer {
	width: 100%;
	height: 100%;
	flow-children: down;
	margin: 20px;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.51);
}

#LatestUpdate {
	width: 100%;
	flow-children: right;
}

#LatestUpdateDetails {
	width: 40%;
	margin-right: 10px;
	flow-children: down;
}

#LatestUpdateImage {
	height: 100%;
}

#OtherUpdates {
	width: 100%;
	height: 100%;
	padding: 10px;
	flow-children: right;
	overflow: scroll squish;
}

#LearnMoreParent {
	width: 100%;
}

.news-preview-panel {
	height: 100%;
	width: fit-children;
}

.news-preview-image {
	margin: 5px;
	height: 100%;
	width: 260px; /* HACK: The image takes up full width if we don't set an exact width */
}