.mainmenu-right-nav-item {
	width: 100%;
	height: width-percentage( 100% );
	background-color: #ffffff00;
	padding: 12px 12px;
	transition: background-color 0.1s ease-in-out 0s;
	flow-children: none;
}

.mainmenu-right-nav-item .RadioBox {
	visibility: collapse;
}

.mainmenu-right-nav-item:hover {
	background-color: #ffffff26;
}

.mainmenu-right-nav-item > Image {
	width: 100%;
	height: width-percentage( 100% );
	vertical-align: middle;
	opacity: 0.51;
	transition: opacity 0.1s ease-in-out 0s;
}

.mainmenu-right-nav-item:hover > Image {
	opacity: 1.0;
}

.mainmenu-right-nav-list {
	height: 100%;
	width: 50px;
	background-color: rgba(48, 48, 48, 0.3);
	flow-children: down;
	horizontal-align: left;
}

#MainMenuDrawerContent {
	background-color: rgba(48, 48, 48, 0.3);
}

.Active {
	opacity: 1.0;

	transition-property: opacity;
	transition-duration: .1s;
	transition-timing-function: linear;
}