name: Code Quality

on:
  pull_request
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
        fetch-depth: 0

    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Formatting Checks
      run: npm run format:check

    - name: Linting Checks
      run: npm run lint:check 
      
    - name: TypeScript Build
      run: npm run ts:check

    - name: Ban manual web.ts changes
      run: |
        set -e
        if git diff --name-only origin/master..HEAD | grep -qE "^scripts/common/web/.*\.ts$"; then
          for COMMIT in $(git log --pretty=format:"%H" origin/master..HEAD -- scripts/common/web); do
            MSG=$(git log -1 --pretty=format:"%s" $COMMIT)
            if [[ "$MSG" != "chore: update website dependencies"* ]]; then
              echo "Error: Commit $COMMIT modifies files under scripts/common/web/ but does not appear to be auto-generated."
              exit 1
            fi
          done
        fi
