name: Code Quality

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'

    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Formatting Checks
      run: npm run format:check

    - name: Linting Checks
      run: npm run lint:check 
      
    - name: TypeScript Build
      run: npm run build
